body {
    font-family: var(--roboto);
    font-size: 14px;
    line-height: 1.3;
    color: var(--f-black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.no-scroll {
    overflow: hidden;
}

a, a:active, a:focus, a:hover {
    color: var(--f-green);
    text-decoration: none;
    outline: none;
}

em {
    font-style: italic;
}

header {
    background-color: var(--f-white1);
}

form.js-form {
    position: relative;
}

.header__inner-wrapper {
    max-width: var(--maxWidth);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

@media (min-width: 576px) {
    .header__inner-wrapper {
        padding: 20px;
    }
}
@media (min-width: 1200px) {
    .header__inner-wrapper {
        padding: 20px 20px 40px 20px;
    }
}

.header-search {
    flex-grow: 1;
    margin: 0 10px;
}
@media (min-width: 992px) {
    .header-search {
        position: relative;
        width: 100%;
        margin: 0 40px;
        display: flex;
    }
}

@media (min-width: 1200px) {
    .header-search {
        margin: 0 0 0 40px;
    }
}

.mobile-block-favorite {
    display: flex;
    align-items: center;
    margin: 0 -10px;
}

.mobile-block-favorite .header-favorite {
    display: none;
    position: relative;
    text-decoration: none;
    color: var(--f-black);
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
}
.mobile-block-favorite .header-favorite svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
}
.mobile-block-favorite .header-favorite span {
    padding-left: 25px;
}

@media (min-width: 576px) {
    .mobile-block-favorite {
        margin: 0 -10px 0 0;
    }
    .mobile-block-favorite .header-favorite {
        display: block;
    }
}
@media (min-width: 1200px) {
    .mobile-block-favorite {
        display: none;
    }
}

.header-logo {
    display: flex;
}

.header-logo__item {
    display: block;
    margin-right: 20px;
    height: 15px;
}

@media (min-width: 460px) {
    .header-logo__item {
        height: 20px;
    }
}

.header-logo__item:last-of-type {
    margin-right: 0;
}

.header-logo__item img {
    display: block;
    height: 100%;
}

@media (min-width: 576px) {
    .header-logo {
        margin-left: 20px;
    }
}
@media (min-width: 1200px) {
    .header-logo {
        width: 400px;
    }

    .header-logo__item {
        height: 30px;
        margin-right: 30px;
    }
}

.header-top {
    display: none;
}

/*
---	USER MENU ------------------------------------------------------------------*/

.user-menu__trigger {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    transition: var(--transition);
}

.user-menu__avatar {
    display: block;
    height: 40px;
}

.user-menu__avatar svg {
    display: block;
    height: 40px;
    width: 40px;
    margin-right: 15px;
}

.user-menu__avatar img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.user-menu__content {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: var(--f-white);
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    cursor: auto;
    padding: 10px 0;
    min-width: 200px;
    z-index: 10;
}

.user-menu__content-avatar svg {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto 10px auto;
}

.user-menu__content-avatar img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 10px auto;
}

.user-menu__info span {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.user-menu__info span:last-of-type {
    margin-bottom: 0;
}

.user-menu__info {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--f-grey3);
}

.user-menu__item {
    display: block;
    cursor: pointer;
    background-color: var(--f-white);
    color: var(--f-black);
    box-sizing: border-box;
    padding: 10px 30px;
    transition: var(--transition);
}

.user-menu__item:hover {
    background-color: var(--f-white1);
}

/*
---	DROPDOWN ------------------------------------------------------------------*/

.js-dropdown {
    position: relative;
}

.js-dropdown__content {
    display: none;
}

.call-dropdown {
    display: block;
    cursor: pointer;
}

.call-dropdown__content {
    position: absolute;
    top: 50px;
    left: 0;
    min-width: 280px;
    background-color: var(--f-white);
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 30px;
    cursor: auto;
    z-index: 10;
}

.call-dropdown__text {
    font-size: 15px;
    color: var(--f-black);
    margin-bottom: 5px;
}

.call-dropdown__text:last-of-type {
    margin-bottom: 0;
}

.social-item {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.social-item-header {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
}

.social-item-header svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
}
.social-item svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
}

.desktop-menu {
    display: none;
}

@media (min-width: 1200px) {
    .desktop-menu {
        display: block;
        background-color: var(--f-green);
    }

    .desktop-menu__inner-wrapper {
        max-width: var(--maxWidth);
        margin: 0 auto;
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .desktop-menu__item {
        cursor: pointer;
        position: relative;
    }

    .desktop-menu__item.beta {
        position: relative;
    }

    .desktop-menu__item.beta:before {
        content: 'BETA';
        position: absolute;
        z-index: 9;
        color: #fff;
        background-color: #ed4024;
        padding: 1px 4px;
        border-radius: 5px;
        right: 10px;
        top: -7px;
    }

    .desktop-menu__title {
        position: relative;
        display: block;
        box-sizing: border-box;
        font-size: 17px;
        padding: 15px 30px 15px 15px;
        background-color: var(--f-green);
        color: var(--f-white);
        transition: var(--transition);
    }

    .desktop-menu__title:after {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid var(--f-white);
        transition: var(--transition);
    }

    .desktop-menu__title.single {
        padding: 15px;
    }

    .desktop-menu__title.single:after {
        border: none;
    }

    .desktop-menu__title:hover {
        color: var(--f-white);
        background-color: var(--f-green-alt);
    }

    .desktop-menu__dropdown {
        display: none;
        position: absolute;
        box-sizing: border-box;
        padding: 10px 0;
        min-width: 200px;
        top: 100%;
        left: 0;
        background-color: var(--f-white);
        box-shadow: var(--box-shadow);
        border-radius: 4px;
        z-index: 20;
        transition: var(--transition);
    }

    .desktop-menu__dropdown.right {
        right: 0;
        left: auto;
    }

    .desktop-menu__dropdown li.active a {
        color: var(--f-green);
        font-weight: 500;
    }

    .desktop-menu__item:hover .desktop-menu__dropdown {
        display: block;
    }

    .desktop-menu__item:hover .desktop-menu__dropdown.desktop-menu__dropdown_grid {
        display: grid;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        width: 800px;
    }

    .desktop-menu__item:hover .desktop-menu__title:after {
        transform: translateY(-50%) rotate(180deg);
    }

    .desktop-menu__dropdown a {
        display: block;
        cursor: pointer;
        background-color: var(--f-white);
        color: var(--f-black);
        font-size: 17px;
        box-sizing: border-box;
        padding: 11px 30px;
        transition: var(--transition);
    }

    .desktop-menu__dropdown a:hover {
        background-color: var(--f-white1);
    }

    .header-top {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        max-width: var(--maxWidth);
        margin: 0 auto;
        padding: 20px 20px 0 20px;
    }

    .header-top__social {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 400px;
        margin-right: 40px;
    }

    .header-top__right-block {
        display: flex;
        flex-wrap: wrap;
        font-size: 17px;
        justify-content: space-between;
        flex-grow: 1;
    }

    .header-top__inner-left {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .header-top__inner-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }

    .header-top__item {
        position: relative;
        display: flex;
        margin-right: 20px;
        color: var(--f-black);
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        transition: var(--transition);
    }

    .header-top__item svg {
        display: block;
        margin-right: 15px;
        width: 24px;
        height: 24px;
        transition: var(--transition);
    }

    .header-top__item:hover {
        color: var(--f-green);
    }

    .header-top__item:hover svg {
        fill: var(--f-green);
    }

    .header-top__item.caret {
        padding-right: 20px;
    }

    .header-top__item.caret:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        right: 0;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid var(--f-green);
    }

    .header-top__item-text {
        display: flex;
        font-size: 17px;
        flex-direction: column;
        align-items: flex-start;
    }

    .header-top__item-text-small {
        font-size: 11px;
    }
}

/*
---	MOBILE MENU ------------------------------------------------------------------*/

.mobile-menu {
    position: fixed;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    max-width: 320px;
    top: 0;
    right: -100%;
    bottom: 0;
    z-index: 2000;
    transition: var(--transition);
}

.mobile-menu--active {
    right: 0;
}

.mobile-menu__close {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--f-white);
    transition: var(--transition);
}

.mobile-menu__close:hover {
    background-color: var(--f-green);
}

.mobile-menu__close svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    fill: var(--f-black);
    transition: var(--transition);
}

.mobile-menu__close:hover svg {
    fill: var(--f-white);
}

.mobile-menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--f-white);
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
}

.mobile-menu__content {
    box-sizing: border-box;
    padding: 20px;
    min-height: 100%;
    background-color: var(--f-white);
}

.mobile-menu__button svg {
    display: block;
    width: 40px;
    height: 40px;
}

@media (min-width: 1200px) {
    .mobile-menu__button {
        display: none;
    }
}

.mobile-menu__item {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0;
    color: var(--f-black);
    transition: var(--transition);
}


.mobile-menu__item.beta {
    justify-content: flex-start;
}

.mobile-menu__item.beta:before {
    content: 'BETA';
    z-index: 9;
    color: #fff;
    background-color: #ed4024;
    padding: 1px 4px;
    margin-right: 5px;
    border-radius: 5px;
    right: 10px;
    top: -7px;
    font-size: 10px;
}

.mobile-menu__item:hover {
    color: var(--f-green-alt);
}

.mobile-menu__item.accordion-header {
    margin: 0;
    padding: 20px 0;
}

.mobile-menu__block {
    padding: 20px 0;
    box-sizing: border-box;
    width: 100%;
}

.mobile-menu__block:last-child {
    padding-top: 20px;
    padding-bottom: 0;
}

.section {
    position: relative;
    max-width: var(--maxWidth);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 40px 20px;
}

.section__subtitle {
    display: block;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .section__subtitle {
        font-size: 20px;
        margin-bottom: 40px;
    }
}

@media (min-width: 1200px) {
    .section__subtitle {
        margin-bottom: 60px;
    }
}

.section .h1 {
    display: block;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.section .h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .section .h2 {
        margin-bottom: 40px;
    }
}

.category-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.category-item {
    display: block;
    width: fit-content;
    border: 1px solid var(--f-light-green);
    box-sizing: border-box;
    border-radius: 20px;
    color: var(--f-green);
    padding: 5px 15px;
    margin: 5px;
    transition: var(--transition);
}

.category-item:hover {
    background-color: var(--f-green);
    border-color: var(--f-green);
    color: var(--f-white);
}

/*
---	CATALOG ITEM ------------------------------------------------------------------*/

.desktop-catalog {
    display: none;
}

.catalog-block__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.catalog-item-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.glide__bullets .glide__bullet {
    margin: 5px;
}

@media (max-width: 460px) {
    .catalog-item-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .catalog-block__container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 660px) {
    .catalog-item-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .catalog-block__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .glide__bullets {
        flex-wrap: wrap;
        height: 40px;
        width: 100%;
        justify-content: center;
        align-content: space-between;
    }
}

@media (min-width: 890px) {
    .catalog-slider {
        display: none;
    }

    .js-glide-knowledge-base {
        display: none;
    }

    .desktop-catalog {
        display: block;
    }

    .catalog-item-container {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }

    .catalog-block__container {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        margin-bottom: 40px;
    }
}

@media (min-width: 1040px) {
    .catalog-item-container {
        grid-template-columns: repeat(5, 1fr);
    }

    .catalog-block__container {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 40px;
    }
}

@media (min-width: 1200px) {
    .catalog-item-container {
        grid-template-columns: repeat(6, 1fr);
    }
}

.catalog-item {
    display: block;
    box-sizing: border-box;
    padding: 15px 0;
}

.catalog-item img {
    display: block;
    border-radius: 4px;
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin: 0 auto 15px auto;
}

.catalog-item a {
    display: block;
    width: fit-content;
    margin: auto;
    color: var(--f-black);
}

.catalog-item.white a {
    color: var(--f-white);
}

.catalog-item > span,
.catalog-item a span {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 0 20px;
    text-align: center;
}

.catalog-item a svg {
    display: block;
    margin: 0 auto;
    width: 25px;
    height: 25px;
    fill: var(--f-green);
}

.catalog-item.white a svg {
    fill: var(--f-white);
}

/*
---	LANDING CATALOG ITEM ------------------------------------------------------------------*/

.landing-catalog-item {
    position: relative;
    height: 200px;
}

.landing-catalog-item img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.landing-catalog-item__button-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), rgba(0, 122, 51, 0.3);
}

.landing-catalog-item__button-wrapper span {
    display: block;
    margin: 0 auto 10px auto;
    text-align: center;
    color: var(--f-white);
    font-size: 17px;
}

.landing-catalog-item__button-wrapper a {
    margin: auto;
}

.landing-catalog-chat-bot__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    box-sizing: border-box;
    min-height: 200px;
    padding: 20px;
    background-color: var(--f-green);
}

.landing-catalog-chat-bot__inner-wrapper .square-button {
    margin: auto;
}

.landing-catalog-chat-bot__title {
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: var(--f-white);
}

@media (min-width: 768px) {
    .landing-catalog-item-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }

    .landing-catalog-item-container .landing-catalog-chat-bot__item {
        grid-column: span 2;
    }
}

@media (min-width: 992px) {
    .landing-catalog-item-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

/*
---	GLIDE ------------------------------------------------------------------*/

.glide {
    padding-bottom: 40px;
}

.glide__track {
    overflow-y: visible;
    overflow-x: hidden;
    padding: 0;
}

.glide__slides {
    overflow: visible;
}

.glide__slide {
    height: auto !important;
    padding: 1px;
    list-style: none;
}

.glide__arrows {
    display: none;
}

@media (min-width: 768px) {
    .glide {
        width: calc(100% - 120px);
        margin: auto;
    }

    .glide__arrow {
        box-shadow: none;
        color: transparent;
        padding: 0;
        border: none;
    }

    .glide__arrows {
        display: block;
    }

    .glide__arrow--left {
        left: -60px;
    }

    .glide__arrow--right {
        right: -60px;
    }
}
@media (max-width: 450px) {
    .section .glide__bullets{
        bottom: -20px;
    }
}

.glide__bullets {
    bottom: 0;
    flex-wrap: wrap;
}

.glide__bullet {
    background-color: #c1c1c1;
}

.glide__bullet--active {
    background-color: var(--f-green);
}

.glide__bullet:focus, .glide__bullet:hover {
    background-color: var(--f-green);
    border: transparent;
}

/*
---	SEARCH ------------------------------------------------------------------*/

.search-container {
    margin-bottom: 40px;
}

.search {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.search [type=submit] {
    display: none;
}
@media (min-width: 576px) {
    .search [type=submit] {
        display: block;
    }
}

.item .search {
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .search-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row-reverse;
        margin-bottom: 40px;
    }

    .item .search {
        width: 50%;
        margin-bottom: 0;
    }
}

.search-input {
    border: 1px solid var(--f-grey);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--f-black);
    outline: none;
    padding: 10px;
    position: relative;
    transition: var(--transition);
    width: 100%;
}

@media (min-width: 576px) {
    .search-input {
        border-right: none;
        border-radius: 4px 0 0 4px;
        font-size: 17px;
        padding: 10px 20px;
        height: 50px;
    }
}

.js-search-input {
    position: relative;
    width: 100%;
}

.js-search-input i {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--f-orange);
    text-align: center;
    font-size: 16px;
    width: 16px;
    height: 16px;
}

.search-input:focus,
.search-input:active,
.search-input:focus {
    border-color: var(--f-green);
}

.search-result {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 400px;
    overflow: auto;
    background-color: var(--f-white);
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    z-index: 10;
    transition: var(--transition);
}

.search-result__item {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px 15px;
    transition: var(--transition);
}

.search-result__item:first-child {
    margin-top: 10px;
}

.search-result__item:last-child {
    margin-bottom: 10px;
}

.search-result__item em {
    color: var(--f-green);
    font-weight: 700;
}

.search-result__item:hover {
    background-color: var(--f-white1);
}

.search__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border: 1px solid var(--f-green);
    background: var(--f-green);
    text-align: center;
    color: var(--f-white);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    transition: var(--transition);
}

.search__button:hover {
    border-color: var(--f-orange);
    background: var(--f-orange);
}

.search__button svg {
    width: 16px;
    height: 16px;
    fill: var(--f-white);
}

.search__button i {
    font-size: 16px;
    color: var(--f-white);
}

/*
---	FILTER ------------------------------------------------------------------*/

.filter-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap-reverse;
}

@media (min-width: 992px) {
    .filter-wrapper.news {
        justify-content: flex-end;
    }
}

.filter__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    color: var(--f-green);
    border: 1px solid var(--f-green);
    background: var(--f-white);
    transition: var(--transition);
}

@media (min-width: 992px) {
    .filter__button {
        display: none;
    }
}

.filter__button svg {
    width: 16px;
    height: 18px;
    fill: var(--f-green);
    transition: var(--transition);
}

.filter__button span {
    display: none;
}

@media (min-width: 320px) {
    .filter__button span {
        display: block;
        margin-left: 5px;
    }
}

.filter__button:hover {
    color: var(--f-white);
    background-color: var(--f-green);
}

.filter__button:hover svg {
    fill: var(--f-white);
}

/*
---	MOBILE FILTER ------------------------------------------------------------------*/

.shade {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1000;
    outline: 0;
}

.shade--active {
    display: block;
}

.mobile-filter {
    position: fixed;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    max-width: 400px;
    top: 0;
    left: -100%;
    bottom: 0;
    z-index: 2000;
    transition: var(--transition);
}

.mobile-filter--active {
    left: 0;
}

.mobile-filter__close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--f-white);
    transition: var(--transition);
}

.mobile-filter__close:hover {
    background-color: var(--f-green);
}

.mobile-filter__close svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    fill: var(--f-black);
    transition: var(--transition);
}

.mobile-filter__close:hover svg {
    fill: var(--f-white);
}

.mobile-filter__inner-wrapper {
    box-sizing: border-box;
    padding: 50px 15px 15px 15px;
    min-height: 100%;
    background-color: var(--f-white);
}

/*
---	BUTTON WITH BOTTOM CARET ------------------------------------------------------------------*/

.tag-item-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -5px -5px 20px -5px;
}

.tag-item-container.centered {
    justify-content: center;
}

.desktop-tag {
    display: none;
}

@media (min-width: 768px) {
    .desktop-tag {
        display: block;
    }

    .desktop-tag .tag-item-container {
        margin: 0 auto;
        width: fit-content;
    }

    .desktop-tag .tag-item-container.centered {
        margin: 0 auto;
        width: fit-content;
    }
}

@media (min-width: 1200px) {
    .desktop-tag .tag-item-container {
        margin: -5px 40px -5px -5px;
    }
}

.tag-item {
    position: relative;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px 15px;
    text-decoration: none;
    color: var(--f-black);
    background-color: var(--f-white);
    border: 1px solid var(--f-grey);
    margin: 5px;
    transition: var(--transition);
}

.tag-item:hover {
    color: var(--f-white);
    background-color: var(--f-green);
    border-color: var(--f-green);
}

.tag-item:focus, .tag-item:active {
    color: var(--f-black);
    background-color: var(--f-white);
    border: 1px solid var(--f-grey);
}

@media (min-width: 768px) {
    .tag-item {
        font-size: 17px;
    }
}

.tag-item i {
    display: block;
    margin-right: 10px;
    font-size: 16px;
    color: var(--f-grey);
    transition: var(--transition);
}

.tag-item:hover i {
    color: var(--f-white);
}

.tag-item:focus i, .tag-item:active i {
    color: var(--f-grey);
}

.tag-item:after {
    border-left: none;
    border-right: none;
    border-top: none;
}

.tag-item .title {
    display: block;
    margin-right: 5px;
}

.tag-item .quantity {
    display: block;
    font-size: 14px;
    position: relative;
    bottom: 2px;
}

.tag-item.active {
    background-color: var(--f-green);
    border-color: var(--f-green);
}

.tag-item.active i {
    color: var(--f-white);
}

.tag-item.active .title {
    color: var(--f-white);
}

.tag-item.active .quantity {
    color: var(--f-white);
}

.tag-item.active:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--f-green);
}

.button-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.bottom-button-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.bottom-button-container .square-button {
    flex: 1;
}

/*
---	ACCORDION ------------------------------------------------------------------*/

.accordion-header {
    position: relative;
    display: flex;
    color: var(--f-black);
    text-decoration: none;
    cursor: pointer;
    margin: 20px 0;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition);
}

.accordion-header:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    right: 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--f-green);
    transition: var(--transition);
}

.accordion-header.active:after {
    transform: translateY(-50%) rotate(180deg);
}

.accordion-header:hover {
    color: var(--f-green);
}

.accordion-header__title {
    position: relative;
    font-size: 15px;
    font-weight: 700;
}

.accordion-block__content {
    transition: var(--transition);
}

.accordion-block__content:not(.opened) {
    display: none;
}

.accordion-header__quantity {
    position: relative;
    margin-right: 20px;
    color: var(--f-grey2);
}

.accordion-block__content li a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 10px 20px;
    color: var(--f-black);
    transition: var(--transition);
}

.mobile-menu__content li.active a {
    color: var(--f-green);
    font-weight: 700;
}

/*
---	ACTIVE FILTER ------------------------------------------------------------------*/

.active-filter-container {
    display: none;
}

@media (min-width: 768px) {
    .active-filter-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0 30px 0 30px;
    }
}

@media (min-width: 992px) {
    .active-filter-container {
        margin: 0 30px 0 0;
    }
}

.active-filter__item {
    position: relative;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 30px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 5px 15px;
    text-decoration: none;
    white-space: nowrap;
    color: var(--f-black);
    background-color: var(--f-white);
    border: 1px solid var(--f-grey);
    margin: 5px;
    transition: var(--transition);
}

.active-filter__item:hover {
    background-color: var(--f-green);
    border-color: var(--f-green);
    color: var(--f-white);
}

.active-filter__item span {
    display: block;
    margin-right: 10px;
}

.active-filter__item svg {
    width: 10px;
    height: 10px;
    fill: var(--f-green);
    transition: var(--transition);
}

.active-filter__item:hover svg {
    fill: var(--f-white);
}

/*
---	SCROLLBAR ------------------------------------------------------------------*/

.scrollable-block {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.custom-scroll::-webkit-scrollbar-track {
    background-color: var(--f-grey3);
}

.custom-scroll::-webkit-scrollbar {
    background-color: var(--f-grey3);
    width: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: var(--f-black);
}

/*
---	CATALOG ------------------------------------------------------------------*/

@media (min-width: 1200px) {
    .catalog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
    }

    .catalog-block__container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
}

.catalog-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

@media (min-width: 1200px) {
    .catalog-block {
        border-right: 1px solid var(--f-grey);
        margin-bottom: 0;
        box-sizing: border-box;
    }

    .catalog-block:first-of-type {
        padding-right: 40px;
    }

    .catalog-block:last-of-type {
        padding-left: 40px;
        border-right: none;
    }
}

.catalog-block:last-of-type {
    margin-bottom: 0;
}

/*
---	TABS ------------------------------------------------------------------*/

.tabs {
    overflow-x: hidden;
}

.tabs__navigation-wrapper {
    display: block;
    overflow-x: auto;
    border-bottom: 1px solid var(--f-grey);
}

.tabs__navigation-wrapper::-webkit-scrollbar {
    display: none;
}

.tabs__navigation-wrapper::-webkit-scrollbar-thumb {
    display: none;
}

.tabs__navigation {
    display: flex;
    align-items: center;
    background: var(--f-white);
}

.tabs__link {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;
    height: 50px;
    padding: 0 30px;
    color: var(--f-black);
    font-size: 17px;
    font-weight: 500;
    transition: var(--transition);
}

.tabs__link.tabs__icon-link {
    white-space: normal;
    height: 80px;
    min-width: 250px;
}

.tabs__link.tabs__icon-link svg {
    display: block;
    flex: none;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: var(--f-black);
    transition: var(--transition);
}

.tabs__link.selected.tabs__icon-link svg {
    fill: var(--f-green);
}

.tabs__total-count {
    display: block;
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
    color: var(--f-grey2);
}

.tabs__link.selected {
    color: var(--f-green);
}
.tabs__link:not(.selected) {
    cursor: pointer;
}

.tabs__link.selected:after {
    content: '';
    height: 4px;
    position: absolute;
    bottom: 0;
    background: var(--f-green);
    width: 100%;
    left: 0;
}

.tabs__content {
    overflow: hidden;
    font-size: 15px;
    background: var(--f-white);
}

@media (min-width: 768px) {
    .tabs__content {
        font-size: 17px;
    }
}

.tab {
    margin: 40px 0;
}
.tab:not(.visible) {
    display: none;
}
.tab.step-tab {
    margin: 40px 0 20px 0;
}

/*
---	BUSINESS TOOLS BLOCK ------------------------------------------------------------------*/

.business-tools__block {
    display: block;
    margin-bottom: 40px;
}

.business-tools__block img {
    display: block;
    width: 100%;
    max-width: 290px;
    margin: 0 auto 20px auto;
}

@media (min-width: 768px) {
    .business-tools__block {
        display: grid;
        grid-template-columns: 260px 1fr;
        grid-gap: 40px;
        align-items: center;
    }

    .business-tools__block img {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .business-tools__block {
        display: grid;
        grid-template-columns: 360px 1fr;
        grid-gap: 40px;
        align-items: center;
    }

    .business-tools__block img {
        max-width: 360px;
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .business-tools__block {
        max-width: 1000px;
        grid-gap: 80px;
        margin: 0 auto 80px auto;
    }
}

.business-tools__block .h1 {
    font-weight: 300;
    margin-bottom: 20px;
    text-align: left;
}

.business-tools__block p {
    margin-bottom: 20px;
    font-size: 15px;
}

@media (min-width: 768px) {
    .business-tools__block p {
        font-size: 17px;
    }
}

@media (min-width: 992px) {
    .business-tools__block p {
        margin-bottom: 40px;
    }
}

/*
---	BREADCRUMBS ------------------------------------------------------------------*/

.breadcrumbs {
    display: block;
    margin-bottom: 40px;
    list-style: none;
}

.breadcrumbs li {
    display: inline;
}

.breadcrumbs li + li:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.48281 6.44908L15.4998 12.4661L9.48281 18.4831' stroke='%23C1C1C1'/%3E%3C/svg%3E%0A");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 30px;
    color: var(--f-grey2);
}

.breadcrumbs li a {
    color: var(--f-grey1);
    text-decoration: none;
    transition: var(--transition);
}

.breadcrumbs li a:hover {
    color: var(--f-black);
}

.breadcrumbs li:last-child{
    color: var(--f-grey1);
    text-decoration: none;
}

/*
---	LINK ------------------------------------------------------------------*/

.green-link {
    color: var(--f-green);
    text-decoration: underline;
    transition: var(--transition);
}

.green-link:hover {
    color: var(--f-green-alt);
    text-decoration: none;
}

/*
---	REVIEW ------------------------------------------------------------------*/

@media (min-width: 460px) {
    .review {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (min-width: 768px) {
    .review {
        gap: 40px;
    }
}

@media (min-width: 992px) {
    .review {
        grid-template-columns: repeat(3, 1fr);
    }
}

.review-item {
    margin-bottom: 40px;
}

.review-item:last-of-type {
    margin-bottom: 0;
}

.review__title {
    display: block;
    font-size: 17px;
    margin-bottom: 5px;
}

.review__subtitle {
    display: block;
    color: var(--f-grey2);
    margin-bottom: 20px;
}

.review__text {
    word-break: break-word;
}

/*
---	WHAT TO LEARN ------------------------------------------------------------------*/

@media (min-width: 768px) {
    .what-to-learn__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
}

.what-to-learn__item {
    display: block;
    max-width: 500px;
    margin: 0 auto 20px auto;
}

.what-to-learn__item:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .what-to-learn__item {
        margin: 0 auto;
    }
}

.what-to-learn__image {
    display: block;
    margin-bottom: 10px;
}

.what-to-learn__image img {
    display: block;
    margin: 0 auto;
}

.what-to-learn__title {
    display: block;
    font-size: 17px;
    color: var(--f-white);
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .what-to-learn__title {
        font-size: 20px;
        font-weight: 300;
    }
}

.what-to-learn__text {
    text-align: center;
    font-size: 15px;
    color: var(--f-white);
}

/*
---	TOTAL COUNT ------------------------------------------------------------------*/

.total-count__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
}
.total-count__item {
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .total-count__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
    }
}

.total-count__number {
    font-size: 41px;
    line-height: 1;
    color: var(--f-green);
    text-align: center;
    font-weight: 700;
}

@media (min-width: 768px) {
    .total-count__number {
        font-size: 60px;
    }
}

.total-count__title {
    font-size: 15px;
    text-align: center;
}

@media (min-width: 768px) {
    .total-count__title {
        font-size: 20px;
    }
}

/*
---	SERVICE ------------------------------------------------------------------*/

.service__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

@media (min-width: 1200px) {
    .service__container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.service__item {
    position: relative;
}

.service__text-with-button {
    display: flex;
    height: calc(100% - 90px);
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .service__text-with-button {
        height: 100%;
        padding-left: 100px;
    }
}

.service__image {
    display: block;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .service__image {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.service__image img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0;
}

.service__text {
    display: block;
    font-size: 15px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .service__text {
        font-size: 17px;
    }
}

/*
---	AGRARIAN ------------------------------------------------------------------*/

.agrarian__container {
    max-width: 300px;
    margin: auto;
}

.agrarian__item .square-button {
    margin: 20px auto 0 auto;
}

.agrarian__text {
    font-size: 17px;
    text-align: center;
}

@media (min-width: 768px) {
    .agrarian__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        max-width: 750px;
        align-items: center;
    }

    .agrarian__item .square-button {
        margin: auto;
    }

    .agrarian__text {
        text-align: left;
    }
}

.form-wrapper {
    display: block;
    max-width: 500px;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .personal-area__fields-group .form-wrapper {
        margin: 0 auto 0 0;
        padding: 0;
    }
}

.form-buttons {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin: 0 auto 20px auto;
}

.form-buttons:last-of-type {
    margin-bottom: 0;
}

.form-buttons .square-button {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    .form-buttons {
        flex-direction: row;
        width: fit-content;
    }

    .form-buttons .square-button {
        margin-right: 10px;
        margin-bottom: 0;
        width: auto;
    }

    .form-buttons .square-button:last-child {
        margin-right: 0;
    }
}

.form-bottom-link {
    display: block;
    margin: 20px auto 0 auto;
    width: fit-content;
    color: var(--f-green);
    text-decoration: underline;
}

.section-nav {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid var(--f-grey);
    margin-bottom: 40px;
}

.section-nav::-webkit-scrollbar {
    display: none;
}

.section-nav::-webkit-scrollbar-thumb {
    display: none;
}

.section-nav__inner-wrapper {
    display: flex;
    height: 50px;
}

.section-nav__item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
    padding-right: 20px;
    color: var(--f-black);
    border-bottom: none;
    transition: var(--transition);
}

.section-nav.section-nav--small .section-nav__item {
    font-size: 17px;
    font-weight: 400;
}

.section-nav__item-count {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    color: var(--f-grey2)
}

.section-nav__item:hover {
    color: var(--f-green-alt);
}

.section-nav__item.section-nav__item--active:after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: 0;
    background: var(--f-green);
    width: 100%;
    left: 0;
}

.section-nav__item.section-nav__item--active span {
    color: var(--f-green);
}

.rating {
    height: 20px;
    line-height: 20px;
    user-select: none;
}

.rating i {
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
    color: var(--f-green);
    transition: var(--transition);
}

.rating i:hover {
    color: var(--f-green-alt);
}

.rating strong {
    display: block;
    margin-left: 10px;
}

.paginator-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.paginator-button svg {
    display: block;
    fill: var(--f-white);
    width: 24px;
    height: 24px;
}

.verification-phone__code {
    display: none;
}

.code-input {
    width: 120px;
}

/*
---	LOADER ------------------------------------------------------------------*/

.js-loader {
    display: none;
}

.js-loading > .js-loader {
    display: block;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 9999;
}

.loader-inner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    color: var(--f-white);
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: load 1.3s infinite linear;
    transform: translateZ(0);
}

.loader-container--element {
    position: absolute;
    background-color: transparent;
}

.loader-container--element .loader {
    color: var(--f-green);
    font-size: 10px;
}

@keyframes load {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 0, 2em 2em 0 0.2em, 0 3em 0 0, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 0, -2em -2em 0 0.2em;
    }
}

/*
---	FULLCALENDAR ------------------------------------------------------------------*/

.fc .fc-button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: var(--f-green);
    border: 1px solid transparent;
    padding: 0.4em 0.65em;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 0.25em;
}

.fc .fc-button-primary {
    color: var(--f-white);
    background-color: var(--f-green);
    border-color: var(--f-green);
}

.fc .fc-button-primary:hover {
    color: var(--f-white);
    background-color: var(--f-orange);
    border-color: var(--f-orange);
}

.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
    color: var(--f-white);
    background-color: var(--f-orange);
    border-color: var(--f-orange);
}

.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
    box-shadow: unset;
}

.fc-daygrid-event { /* make root-level, because will be dragged-and-dropped outside of a component root */
    position: relative; /* for z-indexes assigned later */
    white-space: normal;
    border-radius: 3px; /* dot event needs this to when selected */
    font-size: .85em;
}

/*
---	PAGE WAS NOT FOUND ------------------------------------------------------------------*/

.page-was-not-found img {
    display: block;
    max-width: 500px;
    margin: 0 auto 20px auto;
    object-fit: contain;
    width: 100%;
}

.page-was-not-found .title {
    display: block;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

/*
---	SWEETALERT2 ------------------------------------------------------------------*/

.swal2-oun-style-button,
.swal2-cancel {
    border-radius: .25em;
    padding: .625em 1.1em;
    transition: var(--transition);
}

.swal2-oun-style-button {
    margin: .3125em;
    box-shadow: 0 0 0 3px transparent;
    font-weight: 500;
    border: 0;
    color: var(--f-white);
    display: inline-block;
    background-color: rgb(0, 122, 51);
    outline: none;
    cursor: pointer;
}

.swal2-oun-style-button:hover {
    background-color: #1d6639ff;
}

.swal2-cancel {
    background: var(--f-white);
    border: 1px solid var(--f-grey);
    color: var(--f-grey1);
}
.swal2-cancel:hover,
.swal2-cancel:active,
.swal2-cancel:focus {
    box-shadow: 0 0 0 100px rgb(0 0 0 / 2%) inset !important;
}
/*
---	COOKIE BANNER ------------------------------------------------------------------*/

.cookie-banner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--f-green);
    z-index: 5;
    opacity: 0.9;
    color: var(--f-white);
    text-align: center;
    width: 100%;
}

.cookie-banner__inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

.cookie-banner p {
    display: block;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .cookie-banner__inner-wrapper {
        flex-direction: row;
    }

    .cookie-banner p {
        margin-bottom: 0;
    }
}

.login-form .form-buttons .form-button {
    margin: auto;
}

.fc .fc-toolbar {
    flex-direction: column;
}

.fc .fc-toolbar-title {
    margin: 10px auto;
}

@media (min-width: 768px) {
    .fc .fc-toolbar {
        flex-direction: row;
    }

    .fc .fc-toolbar-title {
        margin: 0;
    }
}

/*
---	FANCYBOX ------------------------------------------------------------------*/

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
    border-color: var(--f-green);
}
