.video-block__wrapper {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.video-block {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-block iframe,
.video-block object,
.video-block embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
