<!-- about_activity_partners-block.html.twig -->
<div class="section">

    <h2 class="h2">Партнери проекту</h2>

    <div class="about-activity-partners">
        <div class="about-activity-partners-items-wrap">
            <div class="about-activity-partners-item">
                <a href="#" target="_blank">
                    <img src="/images/smat/partner-AT.png" alt="">
                </a>
            </div>
            <div class="about-activity-partners-item">
                <a href="#" target="_blank">
                    <img src="/images/smat/partner-LASKA.png" alt="">
                </a>
            </div>
            <div class="about-activity-partners-item">
                <a href="#" target="_blank">
                    <img src="/images/smat/partner-ORACS.png" alt="">
                </a>
            </div>
            <div class="about-activity-partners-item">
                <a href="#" target="_blank">
                    <img src="/images/smat/partner-UWFC.png" alt="">
                </a>
            </div>
            <div class="about-activity-partners-item">
                <a href="#" target="_blank">
                    <img src="/images/smat/partner-ZT_new.png" alt="">
                </a>
            </div>
        </div>

    </div>

</div>
<!-- /about_activity_partners-block.html.twig -->

