<!-- about_activity_services-block.html.twig -->
<div class="section">

    <h2 class="h2">Сервіси проекту та підтримка клієнтам</h2>

    <div class="about-activity-services-list">

        <div class="about-activity-service">
            <h3 class="about-h3">
                <img class="about-h3__ico" src="/images/smat/ico-support_green_60x60_01.svg" alt="">
                <span class="about-h3__title">Доступ до якісних засобів виробництва і інноваційні рішення</span>
            </h3>
            <ul class="about-activity-service__checklist">
                <li>Програма E-ваучер, знижки на засоби виробництва і інноваційні рішення</li>
            </ul>
        </div>

        <div class="about-activity-service">
            <h3 class="about-h3">
                <img class="about-h3__ico" src="/images/smat/ico-support_green_60x60_02.svg" alt="">
                <span class="about-h3__title">Доступ до технологій</span>
            </h3>
            <ul class="about-activity-service__checklist">
                <li>Онлайн каталог технологій дружніх до навколишього средовища</li>
                <li>Мапа іноваторів</li>
                <li>Малі іноваційні екологічні гранти</li>
            </ul>
            <div class="about-activity-service__simple-info-list">
                <div class="about-activity-service__simple-info-items-wrap">
                    <div class="about-activity-service__simple-info-item">
                        <div class="about-activity-service__simple-info-value" data-percent="81">
                            <svg class="circle" width="60" height="60" viewBox="0 0 60 60" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                <circle cx="30" cy="30" r="25.215" stroke="#F3F5F6" stroke-width="9.57"/>
                                <circle class="circle-value" cx="30" cy="30" r="25.215" stroke="#007A33"
                                        stroke-width="9.57"/>
                            </svg>
                            <span class="value">81%</span>
                        </div>
                        <div class="about-activity-service__simple-info-text">
                            Опитанних фермерів використовують технології дружні до навколишнього середовища
                        </div>
                    </div>
                    <div class="about-activity-service__simple-info-item">
                        <div class="about-activity-service__simple-info-value" data-percent="66">
                            <svg class="circle" width="60" height="60" viewBox="0 0 60 60" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                <circle cx="30" cy="30" r="25.215" stroke="#F3F5F6" stroke-width="9.57"/>
                                <circle class="circle-value" cx="30" cy="30" r="25.215" stroke="#007A33"
                                        stroke-width="9.57"/>
                            </svg>
                            <span class="value">66%</span>
                        </div>
                        <div class="about-activity-service__simple-info-text">
                            Земель клієнтів проекту оброблюються із застосуванням екотехнологій
                        </div>
                    </div>
                    <div class="about-activity-service__simple-info-item">
                        <div class="about-activity-service__simple-info-value" data-percent="36">
                            <svg class="circle" width="60" height="60" viewBox="0 0 60 60" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                <circle cx="30" cy="30" r="25.215" stroke="#F3F5F6" stroke-width="9.57"/>
                                <circle class="circle-value" cx="30" cy="30" r="25.215" stroke="#007A33"
                                        stroke-width="9.57"/>
                            </svg>
                            <span class="value">36%</span>
                        </div>
                        <div class="about-activity-service__simple-info-text">
                            Запровадили еко технології з 2015 року
                        </div>
                    </div>
                    <div class="about-activity-service__simple-info-item">
                        <div class="about-activity-service__simple-info-value" data-percent="73">
                            <svg class="circle" width="60" height="60" viewBox="0 0 60 60" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                <circle cx="30" cy="30" r="25.215" stroke="#F3F5F6" stroke-width="9.57"/>
                                <circle class="circle-value" cx="30" cy="30" r="25.215" stroke="#007A33"
                                        stroke-width="9.57"/>
                            </svg>
                            <span class="value">73%</span>
                        </div>
                        <div class="about-activity-service__simple-info-text">
                            Високо оцінили доступність знань про екотехнології завдяки Проекту
                        </div>
                    </div>
                    <div class="about-activity-service__simple-info-item">
                        <div class="about-activity-service__simple-info-value">
                            <span class="value">6 872</span>
                        </div>
                        <div class="about-activity-service__simple-info-text">
                            Унікальні перегляди статей на сайті екотехнологій
                        </div>
                    </div>
                    <div class="about-activity-service__simple-info-item">
                        <div class="about-activity-service__simple-info-value">
                            <span class="value">4 256</span>
                        </div>
                        <div class="about-activity-service__simple-info-text">
                            Загальна кількість клієнтів, що відвідали заходи з екокомпонентом
                        </div>
                    </div>
                    <div class="about-activity-service__simple-info-item">
                        <div class="about-activity-service__simple-info-value">
                            <span class="value">11 128</span>
                        </div>
                        <div class="about-activity-service__simple-info-text">
                            Не унікальні клієнти, що отримали інформацію через online та offline ресурси
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-activity-service">
            <h3 class="about-h3">
                <img class="about-h3__ico" src="/images/smat/ico-support_green_60x60_03.svg" alt="">
                <span class="about-h3__title">Розвиток ринкових зв’язків</span>
            </h3>
            <ul class="about-activity-service__checklist">
                <li>Діяльність спеціалістів з розвитку плодовоовочового ланцюгу</li>
                <li>Торгові форуми, бізнес і стаді тури</li>
                <li>Налагодження ринкових зв’язків між різними учасниками ринку</li>
                <li>Розвиток спільних продажів у групі і кооперації</li>
            </ul>
            <div class="about-activity-service__grey-chart">
                <h4 class="about-h4">Бачу можливості для торгівлі своїм продуктом</h4>
                <div class="about-activity-service__grey-chart-content">
                    <div class="about-activity-service__grey-chart-list">
                        <div class="about-activity-service__grey-chart-items-wrap">
                            <div class="about-activity-service__grey-chart-item">
                                <div class="about-activity-service__grey-chart-columns-group">
                                    <div class="about-activity-service__grey-chart-columns-left">
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="13">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">13%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="17">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">17%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="33">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">33%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="about-activity-service__grey-chart-columns-right">
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="19">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">19%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="19">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">19%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-activity-service__grey-chart-common-yes">
                                            так <strong>38%</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="about-activity-service__grey-chart-bottom">
                                    <div class="about-activity-service__grey-chart-bottom-no">Тверде <span>ні</span>
                                    </div>
                                    <div class="about-activity-service__grey-chart-bottom-yes">Тверде <span>так</span>
                                    </div>
                                    <div class="about-activity-service__grey-chart-bottom-year">2015</div>
                                </div>
                            </div>
                            <div class="about-activity-service__grey-chart-item">
                                <div class="about-activity-service__grey-chart-columns-group">
                                    <div class="about-activity-service__grey-chart-columns-left">
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="7">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">7%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="5">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">5%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="22">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">22%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="about-activity-service__grey-chart-columns-right">
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="36">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">36%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="30">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">30%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-activity-service__grey-chart-common-yes">
                                            так <strong>66%</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="about-activity-service__grey-chart-bottom">
                                    <div class="about-activity-service__grey-chart-bottom-no">Тверде <span>ні</span>
                                    </div>
                                    <div class="about-activity-service__grey-chart-bottom-yes">Тверде <span>так</span>
                                    </div>
                                    <div class="about-activity-service__grey-chart-bottom-year">2019</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about-activity-service__grey-chart-sidebar">
                        <ul>
                            <li>
                                <strong>42</strong> ініціативні групи виробників на Півдні України, працюють разом: закуповують засоби виробництва, здійснюють маркетинг і продажі
                            </li>
                            <li>
                                <strong>27</strong> компаній отримувачів грантів встановити обладнання, техніку, застосували технології, які дозволяють співпрацювати з понад
                                <strong>100</strong> дрідними віробниками
                            </li>
                            <li>Більш ніж
                                <strong>200</strong> бізнес і стаді турів, проведениї в Україні і за кордоном для наших клієнтив розширили їх можливості
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-activity-service">
            <h3 class="about-h3">
                <img class="about-h3__ico" src="/images/smat/ico-support_green_60x60_04.svg" alt="">
                <span class="about-h3__title">Доступ до фінансування</span>
            </h3>
            <ul class="about-activity-service__checklist">
                <li>Програма зустрічних грантів</li>
                <li>Партнерство з кредитними спілками, фінансовими установами</li>
                <li>Малі інноваційні гендерні і екологічні гранти</li>
                <li>Партнерство з Мегабанком</li>
            </ul>
            <div class="about-activity-service__simple-info-list">
                <div class="about-activity-service__simple-info-items-wrap">
                    <div class="about-activity-service__simple-info-item">
                        <div class="about-activity-service__simple-info-value">
                            <span class="value">8</span>
                        </div>
                        <div class="about-activity-service__simple-info-text">
                            компаній отримали зустрічні гранти
                        </div>
                    </div>
                    <div class="about-activity-service__simple-info-item">
                        <div class="about-activity-service__simple-info-value">
                            <span class="value">27</span>
                        </div>
                        <div class="about-activity-service__simple-info-text">
                            компаній підтримано малими інноваційними екологічними та ґендерними грантами
                        </div>
                    </div>
                    <div class="about-activity-service__simple-info-item">
                        <div class="about-activity-service__simple-info-value">
                            <span class="value">3 000 000</span>
                        </div>
                        <div class="about-activity-service__simple-info-text">
                            Через партнерство з Мегабанком
                            <strong>3 мільйони</strong> канадських доларів стали доступні українським підприємтсвам на фінансування проектів пов’язаних з доданою вартістю у плодоовочевому ланцюгу
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-activity-service">
            <h3 class="about-h3">
                <img class="about-h3__ico" src="/images/smat/ico-support_green_60x60_05.svg" alt="">
                <span class="about-h3__title">Доступ до інформації і знань</span>
            </h3>
            <ul class="about-activity-service__checklist">
                <li>Заходи у 18 різних форматах</li>
                <li>Онлайн навчання через вебінари</li>
                <li>Бізнес калькуляторі бізнес колесо</li>
                <li>Веб сторінка Проекту, розсилка, соц.мережі</li>
                <li>Бізнес калькулятор та колесо бізнесу</li>
                <li>Журнали «Агроіндустрія», «Твій Агробізнес»</li>
                <li>Агроінтернатура для студентів</li>
            </ul>
            <div class="about-activity-service__success">
                <div class="about-activity-service__success-col-wrap">
                    <div class="about-activity-service__success-col">
                        <img class="about-activity-service__success-img" src="/images/smat/043_success-stories_43 1.jpg"
                                alt="">
                    </div>
                    <div class="about-activity-service__success-col">
                        <div class="about-activity-service__success-info">
                            <div class="about-activity-service__success-info-value">
                                Понад <strong>38 000</strong>
                            </div>
                            <div class="about-activity-service__success-info-text">
                                клієнтів, (з них <strong
                                        class="green">46% жінок</strong>), взяли участь у тренінгах, днях поля, конференціях навчальних поїздках, круглих столах, організованих UHBDP.
                            </div>
                        </div>
                        <div class="about-activity-service__success-info">
                            <div class="about-activity-service__success-info-value">
                                <strong>50 000</strong>
                            </div>
                            <div class="about-activity-service__success-info-text">
                                відвідують веб-сторінку <strong>uhbdp.org</strong> щорічно
                            </div>
                        </div>
                        <div class="about-activity-service__success-info">
                            <div class="about-activity-service__success-info-value">
                                А близько <strong>1 500</strong>
                            </div>
                            <div class="about-activity-service__success-info-text">
                                клієнтів читають наш щотижневу розсилку
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <blockquote class="about-activity-service__blockquote">
                «Разом з Проектом в нас зовсім змінився погляд на те, як ми працюємо: ми змінили нашу технологію вирощування, а також дуже велику увагу ми стали приділяти продажу своєї продукції. Моя сім’я могла виростити продукцію, але не могла її продати. Навчання у Проекті допомогло побачити нові можливості для продажу продукції та нові підходи до маркетингу свого бізнесу. Відтепер ми бачимо перспективи для розвитку своєї справи та бачимо де ще ми можливо недопрацювали, все це дуже допомогає розвивати свій бізнес з вирощування екологічно чистої продукції.»
            </blockquote>
        </div>

        <div class="about-activity-service">
            <h3 class="about-h3">
                <img class="about-h3__ico" src="/images/smat/ico-support_green_60x60_06.svg" alt="">
                <span class="about-h3__title">Розширення економічних можливостей жінок</span>
            </h3>

            <img class="about-activity-service__img-wide" src="/images/smat/woman-001.jpg" alt="">

            <div class="about-activity-service__simple-info-list">
                <h4 class="about-h4">У 2018-2019 разом з #UHBDP:</h4>
                <div class="about-activity-service__simple-info-items-wrap">
                    <div class="about-activity-service__simple-info-item">
                        <div class="about-activity-service__simple-info-value">
                            <span class="value">3 112</span>
                        </div>
                        <div class="about-activity-service__simple-info-text">
                            жінок отримали знання та навички по інноваційних технологіях
                        </div>
                    </div>
                    <div class="about-activity-service__simple-info-item">
                        <div class="about-activity-service__simple-info-value">
                            <span class="value">1 581</span>
                        </div>
                        <div class="about-activity-service__simple-info-text">
                            жінок покращили свої бізнес та менеджмент навички
                        </div>
                    </div>
                    <div class="about-activity-service__simple-info-item">
                        <div class="about-activity-service__simple-info-value" data-percent="99">
                            <svg class="circle" width="60" height="60" viewBox="0 0 60 60" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                <circle cx="30" cy="30" r="25.215" stroke="#F3F5F6" stroke-width="9.57"/>
                                <circle class="circle-value" cx="30" cy="30" r="25.215" stroke="#007A33"
                                        stroke-width="9.57"/>
                            </svg>
                            <span class="value">99%</span>
                        </div>
                        <div class="about-activity-service__simple-info-text">
                            У понад 20-ти стаді-турах жінки скаладали 99% учасників
                        </div>
                    </div>
                    <div class="about-activity-service__simple-info-item">
                        <div class="about-activity-service__simple-info-value" data-percent="55">
                            <svg class="circle" width="60" height="60" viewBox="0 0 60 60" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                <circle cx="30" cy="30" r="25.215" stroke="#F3F5F6" stroke-width="9.57"/>
                                <circle class="circle-value" cx="30" cy="30" r="25.215" stroke="#007A33"
                                        stroke-width="9.57"/>
                            </svg>
                            <span class="value">55%</span>
                        </div>
                        <div class="about-activity-service__simple-info-text">
                            UHBDP Малі інноваційні і ґендерні гранти включають
                            <strong>55%</strong> грантоотримувачок жінок, власниць бізнесу
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-activity-service">
            <h3 class="about-h3">
                <img class="about-h3__ico" src="/images/smat/ico-support_green_60x60_07.svg" alt="">
                <span class="about-h3__title">Ринкові можливості</span>
            </h3>
            <div class="about-activity-service__grey-chart">
                <div class="about-activity-service__grey-chart-content">
                    <div class="about-activity-service__grey-chart-list">
                        <h4 class="about-h4">Я володію інформацією про те, де продавати свою продукцію</h4>
                        <div class="about-activity-service__grey-chart-items-wrap">
                            <div class="about-activity-service__grey-chart-item">
                                <div class="about-activity-service__grey-chart-columns-group">
                                    <div class="about-activity-service__grey-chart-columns-left">
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="22">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">22%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="7">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">7%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="15">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">15%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="about-activity-service__grey-chart-columns-right">
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="17">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">17%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="39">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">39%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-activity-service__grey-chart-common-yes">
                                            так <strong>56%</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="about-activity-service__grey-chart-bottom">
                                    <div class="about-activity-service__grey-chart-bottom-no">Тверде <span>ні</span>
                                    </div>
                                    <div class="about-activity-service__grey-chart-bottom-yes">Тверде <span>так</span>
                                    </div>
                                    <div class="about-activity-service__grey-chart-bottom-year">2015</div>
                                </div>
                            </div>
                            <div class="about-activity-service__grey-chart-item">
                                <div class="about-activity-service__grey-chart-columns-group">
                                    <div class="about-activity-service__grey-chart-columns-left">
                                        <div class="about-activity-service__grey-chart-column" data-percent="7">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="7">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">7%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="5">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">5%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="22">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">22%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="about-activity-service__grey-chart-columns-right">
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="36">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">36%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-activity-service__grey-chart-column">
                                            <div class="about-activity-service__grey-chart-column-inner">
                                                <div class="about-activity-service__grey-chart-column-colorbar"
                                                        data-percent="30">
                                                    <span class="about-activity-service__grey-chart-column-colorbar-percent">30%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-activity-service__grey-chart-common-yes">
                                            так <strong>66%</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="about-activity-service__grey-chart-bottom">
                                    <div class="about-activity-service__grey-chart-bottom-no">Тверде <span>ні</span>
                                    </div>
                                    <div class="about-activity-service__grey-chart-bottom-yes">Тверде <span>так</span>
                                    </div>
                                    <div class="about-activity-service__grey-chart-bottom-year">2019</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about-activity-service__grey-chart-sidebar">
                        <h4 class="about-h4">Все більше клієнтів та клієнток продають свою продукцію он-лайн</h4>
                        <img src="/images/smat/woman-002.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /about_activity_services-block.html.twig -->