<!-- about_activity_evolution-block.html.twig -->
<div class="section">

    <h2 class="h2">Розвиток плодоовочевого ранцюгу</h2>

    <div class="about-activity-evolution">

        <div class="about-activity-players">
            <h3 class="about-h3">UHBDP працює з 5-ма ключовими гравцями ринку</h3>

            <div class="about-activity-players-sex">
                <div class="about-activity-players-sex__columns-wrap">
                    <div class="about-activity-players-sex__column large" data-total-count="44885"
                            data-percent-woman="44" data-percent-man="56">
                        <div class="about-activity-players-sex__total-woman">
                            <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="174px" height="174px"
                                    viewBox="0 0 174 174">
                                <path fill="#D19000"
                                        d="M73.2,87l-1.4-7.8c-0.9-5-5.3-8.6-10.5-8.6c-5.2,0-9.6,3.6-10.5,8.6L49.5,87c-0.2,1.1,0.5,2.1,1.6,2.2 c1.1,0.2,2.1-0.5,2.3-1.6l1.4-7.8c0.2-0.9,0.5-1.7,0.9-2.3v6.4l-3.3,12.7C52,97.7,52.9,99,54.1,99h1.5V109c0,1.3,1.1,2.5,2.5,2.5 s2.5-1.1,2.5-2.5V99H62V109c0,1.3,1.1,2.5,2.5,2.5c1.4,0,2.5-1.1,2.5-2.5V99h1.5c1.2,0,2.2-1.2,1.8-2.4L67,83.9v-6.4 c0.5,0.7,0.8,1.5,0.9,2.4l1.4,7.8c0.2,0.9,1,1.6,1.9,1.6c0.1,0,0.2,0,0.3-0.1C72.7,89.1,73.4,88.1,73.2,87z"/>
                                <path fill="#D19000"
                                        d="M61.4,69.2c3,0,5.4-2.4,5.4-5.4c0-3-2.4-5.4-5.4-5.4c-3,0-5.4,2.4-5.4,5.4C55.9,66.8,58.4,69.2,61.4,69.2z"/>
                                <circle fill="none" stroke="#EEEEEE" stroke-width="26" cx="87" cy="87" r="73.5"/>
                                <circle class="circle-value" fill="none" stroke="#D19000" stroke-width="26" cx="87"
                                        cy="87" r="73.5"/>
                            </svg>
                            <span class="percent-total-woman"><strong></strong>%</span>
                        </div>
                        <div class="about-activity-players-sex__total-count"></div>
                        <div class="about-activity-players-sex__total-man">
                            <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="174px" height="174px"
                                    viewBox="0 0 174 174">
                                <path fill="#00587C"
                                        d="M61.4,70.6c-6,0-10.9,4.8-10.9,10.7v6.1c0,1.1,0.9,2,2,2c1.1,0,2-0.9,2-2v-6.1c0-1.4,0.5-2.8,1.3-4V109 c0,1.3,1.1,2.5,2.5,2.5s2.5-1.1,2.5-2.5V90.7h1.4V109c0,1.3,1.1,2.5,2.5,2.5c1.4,0,2.5-1.1,2.5-2.5V77.3c0.8,1.1,1.3,2.5,1.3,4 v6.1c0,1.1,0.9,2,2,2c1.1,0,2-0.9,2-2v-6.1C72.2,75.4,67.4,70.6,61.4,70.6z"/>
                                <path fill="#00587C"
                                        d="M61.4,69.2c3,0,5.4-2.4,5.4-5.4c0-3-2.4-5.4-5.4-5.4c-3,0-5.4,2.4-5.4,5.4C55.9,66.8,58.4,69.2,61.4,69.2z"/>
                                <circle fill="none" stroke="#EEEEEE" stroke-width="26" cx="87" cy="87" r="73.5"/>
                                <circle class="circle-value" fill="none" stroke="#00587C" stroke-width="26" cx="87"
                                        cy="87" r="73.5"/>
                            </svg>
                            <span class="percent-total-man"><strong></strong>%</span>
                        </div>
                    </div>
                    <div class="about-activity-players-sex__column small" data-percent-woman="12" data-percent-man="7">
                        <div class="about-activity-players-sex__total-woman">
                            <svg class="svg" width="90" height="90" viewBox="0 0 90 90" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                <circle cx="45" cy="45" r="38" stroke="#EEEEEE" stroke-width="14"/>
                                <circle class="circle-value" cx="45" cy="45" r="38" stroke="#D19000" stroke-width="14"/>
                            </svg>
                            <span class="percent-total-woman"><strong></strong>%</span>
                        </div>
                        <div class="about-activity-players-sex__category">
                            <img class="about-activity-players-sex__category-ico"
                                    src="/images/smat/ico-activity-player-1_dark_60x60.svg" alt="">
                            <span class="about-activity-players-sex__category-text">ЗМІ, держ.органи, партнери</span>
                        </div>
                        <div class="about-activity-players-sex__total-man">
                            <svg class="svg" width="90" height="90" viewBox="0 0 90 90" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                <circle cx="45" cy="45" r="38" stroke="#EEEEEE" stroke-width="14"/>
                                <circle class="circle-value" cx="45" cy="45" r="38" stroke="#00587C" stroke-width="14"/>
                            </svg>
                            <span class="percent-total-man"><strong></strong>%</span>
                        </div>
                    </div>
                    <div class="about-activity-players-sex__column small" data-percent-woman="13" data-percent-man="11">
                        <div class="about-activity-players-sex__total-woman">
                            <svg class="svg" width="90" height="90" viewBox="0 0 90 90" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                <circle cx="45" cy="45" r="38" stroke="#EEEEEE" stroke-width="14"/>
                                <circle class="circle-value" cx="45" cy="45" r="38" stroke="#D19000" stroke-width="14"/>
                            </svg>
                            <span class="percent-total-woman"><strong></strong>%</span>
                        </div>
                        <div class="about-activity-players-sex__category">
                            <img class="about-activity-players-sex__category-ico"
                                    src="/images/smat/ico-activity-player-2_dark_60x60.svg" alt="">
                            <span class="about-activity-players-sex__category-text">Студенти</span>
                        </div>
                        <div class="about-activity-players-sex__total-man">
                            <svg class="svg" width="90" height="90" viewBox="0 0 90 90" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                <circle cx="45" cy="45" r="38" stroke="#EEEEEE" stroke-width="14"/>
                                <circle class="circle-value" cx="45" cy="45" r="38" stroke="#00587C" stroke-width="14"/>
                            </svg>
                            <span class="percent-total-man"><strong></strong>%</span>
                        </div>
                    </div>
                    <div class="about-activity-players-sex__column small" data-percent-woman="2" data-percent-man="4">
                        <div class="about-activity-players-sex__total-woman">
                            <svg class="svg" width="90" height="90" viewBox="0 0 90 90" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                <circle cx="45" cy="45" r="38" stroke="#EEEEEE" stroke-width="14"/>
                                <circle class="circle-value" cx="45" cy="45" r="38" stroke="#D19000" stroke-width="14"/>
                            </svg>
                            <span class="percent-total-woman"><strong></strong>%</span>
                        </div>
                        <div class="about-activity-players-sex__category">
                            <img class="about-activity-players-sex__category-ico"
                                    src="/images/smat/ico-activity-player-3_dark_60x60.svg" alt="">
                            <span class="about-activity-players-sex__category-text">Сервіс фірми</span>
                        </div>
                        <div class="about-activity-players-sex__total-man">
                            <svg class="svg" width="90" height="90" viewBox="0 0 90 90" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                <circle cx="45" cy="45" r="38" stroke="#EEEEEE" stroke-width="14"/>
                                <circle class="circle-value" cx="45" cy="45" r="38" stroke="#00587C" stroke-width="14"/>
                            </svg>
                            <span class="percent-total-man"><strong></strong>%</span>
                        </div>
                    </div>
                    <div class="about-activity-players-sex__column small" data-percent-woman="72" data-percent-man="76">
                        <div class="about-activity-players-sex__total-woman">
                            <svg class="svg" width="90" height="90" viewBox="0 0 90 90" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                <circle cx="45" cy="45" r="38" stroke="#EEEEEE" stroke-width="14"/>
                                <circle class="circle-value" cx="45" cy="45" r="38" stroke="#D19000" stroke-width="14"/>
                            </svg>
                            <span class="percent-total-woman"><strong></strong>%</span>
                        </div>
                        <div class="about-activity-players-sex__category">
                            <img class="about-activity-players-sex__category-ico"
                                    src="/images/smat/ico-activity-player-4_dark_60x60.svg" alt="">
                            <span class="about-activity-players-sex__category-text">Виробники</span>
                        </div>
                        <div class="about-activity-players-sex__total-man">
                            <svg class="svg" width="90" height="90" viewBox="0 0 90 90" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                <circle cx="45" cy="45" r="38" stroke="#EEEEEE" stroke-width="14"/>
                                <circle class="circle-value" cx="45" cy="45" r="38" stroke="#00587C" stroke-width="14"/>
                            </svg>
                            <span class="percent-total-man"><strong></strong>%</span>
                        </div>
                    </div>
                    <div class="about-activity-players-sex__column small" data-percent-woman="2" data-percent-man="2">
                        <div class="about-activity-players-sex__total-woman">
                            <svg class="svg" width="90" height="90" viewBox="0 0 90 90" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                <circle cx="45" cy="45" r="38" stroke="#EEEEEE" stroke-width="14"/>
                                <circle class="circle-value" cx="45" cy="45" r="38" stroke="#D19000" stroke-width="14"/>
                            </svg>
                            <span class="percent-total-woman"><strong></strong>%</span>
                        </div>
                        <div class="about-activity-players-sex__category">
                            <img class="about-activity-players-sex__category-ico"
                                    src="/images/smat/ico-activity-player-5_dark_60x60.svg" alt="">
                            <span class="about-activity-players-sex__category-text">Трейдери</span>
                        </div>
                        <div class="about-activity-players-sex__total-man">
                            <svg class="svg" width="90" height="90" viewBox="0 0 90 90" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                <circle cx="45" cy="45" r="38" stroke="#EEEEEE" stroke-width="14"/>
                                <circle class="circle-value" cx="45" cy="45" r="38" stroke="#00587C" stroke-width="14"/>
                            </svg>
                            <span class="percent-total-man"><strong></strong>%</span>
                        </div>
                    </div>
                </div>
                <div class="about-activity-bottom-data">Дані: СРМ, грудень 2019</div>
            </div>

            <div class="about-activity-players-village">
                <div class="about-activity-players-village__column-left">
                    <div class="about-activity-players-village__column-left-inner">
                        <h4 class="about-h4">Більшість з них - це виробники з сільської місцевості</h4>
                        <div class="about-activity-players-village__line-list">
                            <div class="about-activity-players-village__line-item">
                                <div class="about-activity-players-village__line-content">
                                    <div class="about-activity-players-village__line-param">Живуть у сільській місцевості</div>
                                    <div class="about-activity-players-village__line-value">69%</div>
                                    <div class="about-activity-players-village__line-chart">
                                        <span class="about-activity-players-village__line-colorbar"
                                                data-percent="69"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="about-activity-players-village__line-item">
                                <div class="about-activity-players-village__line-content">
                                    <div class="about-activity-players-village__line-param">Приймають рішення спільно</div>
                                    <div class="about-activity-players-village__line-value">60%</div>
                                    <div class="about-activity-players-village__line-chart">
                                        <span class="about-activity-players-village__line-colorbar"
                                                data-percent="60"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="about-activity-players-village__line-item">
                                <div class="about-activity-players-village__line-content">
                                    <div class="about-activity-players-village__line-param">Досвід у секторі 10+років</div>
                                    <div class="about-activity-players-village__line-value">56%</div>
                                    <div class="about-activity-players-village__line-chart">
                                        <span class="about-activity-players-village__line-colorbar"
                                                data-percent="56"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="about-activity-players-village__line-item">
                                <div class="about-activity-players-village__line-content">
                                    <div class="about-activity-players-village__line-param">Виробництво - основна діяльність</div>
                                    <div class="about-activity-players-village__line-value">52%</div>
                                    <div class="about-activity-players-village__line-chart">
                                        <span class="about-activity-players-village__line-colorbar"
                                                data-percent="52"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-activity-players-village__column-right">
                    <div class="about-activity-players-village__column-right-inner">
                        <div class="about-activity-players-village__registry">
                            <div class="about-activity-players-village__registry-percents">
                                <div class="about-activity-players-village__registry-percent-on">
                                    <div class="about-activity-players-village__registry-percent-value">
                                        <div class="about-activity-players-village__registry-percent-chart"
                                                data-percent="17">
                                            <svg class="svg" width="60" height="60" viewBox="0 0 60 60" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="30" cy="30" r="25.215" stroke="#FFFFFF"
                                                        stroke-width="9.57"/>
                                                <circle class="circle-value" cx="30" cy="30" r="25.215" stroke="#007A33"
                                                        stroke-width="9.57"/>
                                            </svg>
                                        </div>
                                        <div class="about-activity-players-village__registry-percent-digit">
                                            <span>17</span>%
                                        </div>
                                    </div>
                                    <div class="about-activity-players-village__registry-percent-text">Зареєстрований бізнес</div>
                                </div>
                                <div class="about-activity-players-village__registry-percent-off">
                                    <div class="about-activity-players-village__registry-percent-value">
                                        <div class="about-activity-players-village__registry-percent-chart"
                                                data-percent="83">
                                            <svg class="svg" width="60" height="60" viewBox="0 0 60 60" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="30" cy="30" r="25.215" stroke="#FFFFFF"
                                                        stroke-width="9.57"/>
                                                <circle class="circle-value" cx="30" cy="30" r="25.215" stroke="#007A33"
                                                        stroke-width="9.57"/>
                                            </svg>
                                        </div>
                                        <div class="about-activity-players-village__registry-percent-digit">
                                            <span>83</span>%
                                        </div>
                                    </div>
                                    <div class="about-activity-players-village__registry-percent-text">Бізнес без реєстрації</div>
                                </div>
                            </div>
                            <div class="about-activity-players-village__registry-relations">
                                <div class="about-activity-players-village__registry-relation-col">
                                    <img class="about-activity-players-village__registry-relation-ico"
                                            src="/images/smat/ico-peoples_green_65x65_01.svg" alt="">
                                    <div class="about-activity-players-village__registry-relation-text">Більшість чоловіки</div>
                                </div>
                                <div class="about-activity-players-village__registry-relation-col">
                                    <img class="about-activity-players-village__registry-relation-ico"
                                            src="/images/smat/ico-peoples_green_65x65_02.svg" alt="">
                                    <div class="about-activity-players-village__registry-relation-text">Кількість чоловіків трохи більше</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-activity-manufacturers">
            <h3 class="about-h3">Ключові культури і кількість виробників по культурах</h3>

            <div class="about-activity-manufacturers__total">
                <div class="about-activity-manufacturers__total-count">32 828</div>
                <div class="about-activity-manufacturers__total-text">Виробників</div>
            </div>

            <div class="about-activity-manufacturers__products">
                <div class="about-activity-manufacturers__product-items-wrap">
                    <div class="about-activity-manufacturers__product-item">
                        <div class="about-activity-manufacturers__product-info">
                            <div class="about-activity-manufacturers__product-info-inner">
                                <div class="about-activity-manufacturers__product-title">Овочі борщового набору</div>
                                <div class="about-activity-manufacturers__product-image">
                                    <img class="about-activity-manufacturers__product-image-ico"
                                            src="images/smat/ico-product_dark_60x60_01.svg" alt="">
                                </div>
                                <div class="about-activity-manufacturers__product-count">9 386</div>
                            </div>
                        </div>
                        <div class="about-activity-manufacturers__product-chart">
                            <div class="about-activity-manufacturers__product-chart-line">
                                <span class="about-activity-manufacturers__product-chart-colorbar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="about-activity-manufacturers__product-item">
                        <div class="about-activity-manufacturers__product-info">
                            <div class="about-activity-manufacturers__product-info-inner">
                                <div class="about-activity-manufacturers__product-title">Бджолярі</div>
                                <div class="about-activity-manufacturers__product-image">
                                    <img class="about-activity-manufacturers__product-image-ico"
                                            src="images/smat/ico-product_dark_60x60_02.svg" alt="">
                                </div>
                                <div class="about-activity-manufacturers__product-count">3 952</div>
                            </div>
                        </div>
                        <div class="about-activity-manufacturers__product-chart">
                            <div class="about-activity-manufacturers__product-chart-line">
                                <span class="about-activity-manufacturers__product-chart-colorbar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="about-activity-manufacturers__product-item">
                        <div class="about-activity-manufacturers__product-info">
                            <div class="about-activity-manufacturers__product-info-inner">
                                <div class="about-activity-manufacturers__product-title">Томати</div>
                                <div class="about-activity-manufacturers__product-image">
                                    <img class="about-activity-manufacturers__product-image-ico"
                                            src="images/smat/ico-product_dark_60x60_03.svg" alt="">
                                </div>
                                <div class="about-activity-manufacturers__product-count">3 943</div>
                            </div>
                        </div>
                        <div class="about-activity-manufacturers__product-chart">
                            <div class="about-activity-manufacturers__product-chart-line">
                                <span class="about-activity-manufacturers__product-chart-colorbar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="about-activity-manufacturers__product-item">
                        <div class="about-activity-manufacturers__product-info">
                            <div class="about-activity-manufacturers__product-info-inner">
                                <div class="about-activity-manufacturers__product-title">Ягоди</div>
                                <div class="about-activity-manufacturers__product-image">
                                    <img class="about-activity-manufacturers__product-image-ico"
                                            src="images/smat/ico-product_dark_60x60_04.svg" alt="">
                                </div>
                                <div class="about-activity-manufacturers__product-count">3 346</div>
                            </div>
                        </div>
                        <div class="about-activity-manufacturers__product-chart">
                            <div class="about-activity-manufacturers__product-chart-line">
                                <span class="about-activity-manufacturers__product-chart-colorbar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="about-activity-manufacturers__product-item">
                        <div class="about-activity-manufacturers__product-info">
                            <div class="about-activity-manufacturers__product-info-inner">
                                <div class="about-activity-manufacturers__product-title">Фрукти</div>
                                <div class="about-activity-manufacturers__product-image">
                                    <img class="about-activity-manufacturers__product-image-ico"
                                            src="images/smat/ico-product_dark_60x60_05.svg" alt="">
                                </div>
                                <div class="about-activity-manufacturers__product-count">3 274</div>
                            </div>
                        </div>
                        <div class="about-activity-manufacturers__product-chart">
                            <div class="about-activity-manufacturers__product-chart-line">
                                <span class="about-activity-manufacturers__product-chart-colorbar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="about-activity-manufacturers__product-item">
                        <div class="about-activity-manufacturers__product-info">
                            <div class="about-activity-manufacturers__product-info-inner">
                                <div class="about-activity-manufacturers__product-title">Огірки</div>
                                <div class="about-activity-manufacturers__product-image">
                                    <img class="about-activity-manufacturers__product-image-ico"
                                            src="images/smat/ico-product_dark_60x60_06.svg" alt="">
                                </div>
                                <div class="about-activity-manufacturers__product-count">2 567</div>
                            </div>
                        </div>
                        <div class="about-activity-manufacturers__product-chart">
                            <div class="about-activity-manufacturers__product-chart-line">
                                <span class="about-activity-manufacturers__product-chart-colorbar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="about-activity-manufacturers__product-item">
                        <div class="about-activity-manufacturers__product-info">
                            <div class="about-activity-manufacturers__product-info-inner">
                                <div class="about-activity-manufacturers__product-title">Виноград</div>
                                <div class="about-activity-manufacturers__product-image">
                                    <img class="about-activity-manufacturers__product-image-ico"
                                            src="images/smat/ico-product_dark_60x60_07.svg" alt="">
                                </div>
                                <div class="about-activity-manufacturers__product-count">2 563</div>
                            </div>
                        </div>
                        <div class="about-activity-manufacturers__product-chart">
                            <div class="about-activity-manufacturers__product-chart-line">
                                <span class="about-activity-manufacturers__product-chart-colorbar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="about-activity-manufacturers__product-item">
                        <div class="about-activity-manufacturers__product-info">
                            <div class="about-activity-manufacturers__product-info-inner">
                                <div class="about-activity-manufacturers__product-title">Зернові</div>
                                <div class="about-activity-manufacturers__product-image">
                                    <img class="about-activity-manufacturers__product-image-ico"
                                            src="images/smat/ico-product_dark_60x60_08.svg" alt="">
                                </div>
                                <div class="about-activity-manufacturers__product-count">1 813</div>
                            </div>
                        </div>
                        <div class="about-activity-manufacturers__product-chart">
                            <div class="about-activity-manufacturers__product-chart-line">
                                <span class="about-activity-manufacturers__product-chart-colorbar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="about-activity-manufacturers__product-item">
                        <div class="about-activity-manufacturers__product-info">
                            <div class="about-activity-manufacturers__product-info-inner">
                                <div class="about-activity-manufacturers__product-title">Перець</div>
                                <div class="about-activity-manufacturers__product-image">
                                    <img class="about-activity-manufacturers__product-image-ico"
                                            src="images/smat/ico-product_dark_60x60_09.svg" alt="">
                                </div>
                                <div class="about-activity-manufacturers__product-count">1 272</div>
                            </div>
                        </div>
                        <div class="about-activity-manufacturers__product-chart">
                            <div class="about-activity-manufacturers__product-chart-line">
                                <span class="about-activity-manufacturers__product-chart-colorbar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="about-activity-manufacturers__product-item">
                        <div class="about-activity-manufacturers__product-info">
                            <div class="about-activity-manufacturers__product-info-inner">
                                <div class="about-activity-manufacturers__product-title">Нішеві культури</div>
                                <div class="about-activity-manufacturers__product-image">
                                    <img class="about-activity-manufacturers__product-image-ico"
                                            src="images/smat/ico-product_dark_60x60_10.svg" alt="">
                                </div>
                                <div class="about-activity-manufacturers__product-count">1 043</div>
                            </div>
                        </div>
                        <div class="about-activity-manufacturers__product-chart">
                            <div class="about-activity-manufacturers__product-chart-line">
                                <span class="about-activity-manufacturers__product-chart-colorbar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="about-activity-manufacturers__product-item">
                        <div class="about-activity-manufacturers__product-info">
                            <div class="about-activity-manufacturers__product-info-inner">
                                <div class="about-activity-manufacturers__product-title">Дині, кавуни</div>
                                <div class="about-activity-manufacturers__product-image">
                                    <img class="about-activity-manufacturers__product-image-ico"
                                            src="images/smat/ico-product_dark_60x60_11.svg" alt="">
                                </div>
                                <div class="about-activity-manufacturers__product-count">697</div>
                            </div>
                        </div>
                        <div class="about-activity-manufacturers__product-chart">
                            <div class="about-activity-manufacturers__product-chart-line">
                                <span class="about-activity-manufacturers__product-chart-colorbar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="about-activity-manufacturers__product-item">
                        <div class="about-activity-manufacturers__product-info">
                            <div class="about-activity-manufacturers__product-info-inner">
                                <div class="about-activity-manufacturers__product-title">Зелень, салати</div>
                                <div class="about-activity-manufacturers__product-image">
                                    <img class="about-activity-manufacturers__product-image-ico"
                                            src="images/smat/ico-product_dark_60x60_12.svg" alt="">
                                </div>
                                <div class="about-activity-manufacturers__product-count">494</div>
                            </div>
                        </div>
                        <div class="about-activity-manufacturers__product-chart">
                            <div class="about-activity-manufacturers__product-chart-line">
                                <span class="about-activity-manufacturers__product-chart-colorbar"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-activity-bottom-data">UHBDP CRM, 6-12-2019</div>
        </div>

    </div>
</div>
<!-- /about_activity_evolution-block.html.twig -->

