<div id="tab_change_password" class="personal-area-center__tab">
    <div class="personal-area-center__tab-change-password">
        <h3 class="personal-area__h3">{{ 'profile.change_password' | trans }}</h3>
        <div class="personal-area__fields-group js-form-container">
            {% include 'profile/forms/change_password.html.twig' %}
        </div>
    </div>
</div>



