<div id="tab_edit_profile" class="personal-area-center__tab">
    <div class="personal-area-center__tab-edit-profile">
        <h3 class="personal-area__h3">{{ 'profile.edit_profile' | trans }}</h3>
        <div class="personal-area__fields-group js-form-container form-required-control">
            {% include 'profile/forms/profile_edit.html.twig' %}
        </div>
    </div>
</div>
