<div
    class="course-statistics-region-split container"
    data-info="{{ field.formattedValue|json_encode }}"
>
    <div class="row">
        <div class="col">
            <canvas></canvas>
        </div>
        <div class="col"></div>
    </div>
</div>
