<span
    class="square-button marginRight10px js-commodities-list-add-sub-filter"
    data-commodity-type="{{ value }}"
>
    <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#plus"></use>
    </svg>
    <span>
        {{ title }}
    </span>
</span>
