<div class="personal-area marketplace personal-area__wrapper">
    <div class="filter-wrapper">
        <a href="javascript:void(0)" class="js-mobile-filter__open filter__button">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#filter"></use>
            </svg>
            <span>{{ 'item.filters'|trans }}</span>
        </a>
    </div>

    <div class="personal-area__inner">
        {% include 'profile_marketplace/blocks/personal-area-sidebar.html.twig' %}
        <div class="js-notification-block" data-list-ajax-url="{{ listAjaxUrl }}">
            <div class="personal-area-center__tabs-wrapper">
                <div class="personal-area-center__tab">
                    {% include 'notification/notification-filter-bar.html.twig' with {'fitler': filter} %}
                    <div class="js-select-all__list notification-list">
                        {% include 'notification/notification-block.html.twig' with {'items': items } %}
                    </div>
                    {% if items|length > 0 %}
                        <a href="javascript:void(0)"
                           class="square-button orange-bg-button height-50
                           centeredBlock marginTop20px js-notification-bucket-clear"
                           data-url = "{{ path('notification_bucket_clear') }}"
                        >
                            Очистити кошик
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'profile_marketplace/blocks/personal-area-sidebar-mobile.html.twig' %}