<div id="review" class="tab">
    <div class="review">
        <div class="review-item">
            <div class="review__title">Джордж Петренко</div>
            <div class="review__subtitle">Фермер фермер</div>
            <div>Різноманітний і багатий досвід говорить нам, що початок повсякденної роботи по
                формуванню позиції створює необхідність включення
            </div>
        </div>
        <div class="review-item">
            <div class="review__title">Джордж Петренко</div>
            <div class="review__subtitle">Фермер фермер</div>
            <div>Різноманітний і багатий досвід говорить нам, що початок повсякденної роботи по
                формуванню позиції створює необхідність включення
            </div>
        </div>
        <div class="review-item">
            <div class="review__title">Джордж Петренко</div>
            <div class="review__subtitle">Фермер фермер</div>
            <div>Різноманітний і багатий досвід говорить нам, що початок повсякденної роботи по
                формуванню позиції створює необхідність включення
            </div>
        </div>
        <div class="review-item">
            <div class="review__title">Джордж Петренко</div>
            <div class="review__subtitle">Фермер фермер</div>
            <div>Різноманітний і багатий досвід говорить нам, що початок повсякденної роботи по
                формуванню позиції створює необхідність включення
            </div>
        </div>
        <div class="review-item">
            <div class="review__title">Джордж Петренко</div>
            <div class="review__subtitle">Фермер фермер</div>
            <div>Різноманітний і багатий досвід говорить нам, що початок повсякденної роботи по
                формуванню позиції створює необхідність включення
            </div>
        </div>
        <div class="review-item">
            <div class="review__title">Джордж Петренко</div>
            <div class="review__subtitle">Фермер фермер</div>
            <div>Різноманітний і багатий досвід говорить нам, що початок повсякденної роботи по
                формуванню позиції створює необхідність включення
            </div>
        </div>
    </div>
    <div class="marginBottom40px">
        {% include 'blocks/pagination-block.html.twig' %}
    </div>
    {% include 'blocks/leave-review-block.html.twig' %}
</div>