<div>
    {{ message }}
</div>
<div>
    {{ 'cron.notification_sender.msg_parts_by_event.CommodityCreateEvent.kit.email'|trans ~ ' '}}
    <a href="{{ notificationListLink }}">{{ 'profile.notifications'|trans }}</a>
</div>