<div style="display: none;">
    <svg xmlns="http://www.w3.org/2000/svg">

        <symbol id="edit" viewBox="0 0 24 24">
            <path d="M14.06 9L15 9.94L5.92 19H5V18.08L14.06 9ZM17.66 3C17.41 3 17.15 3.1 16.96 3.29L15.13 5.12L18.88 8.87L20.71 7.04C21.1 6.65 21.1 6 20.71 5.63L18.37 3.29C18.17 3.09 17.92 3 17.66 3ZM14.06 6.19L3 17.25V21H6.75L17.81 9.94L14.06 6.19Z"/>
        </symbol>

        <symbol id="account-plus" viewBox="0 0 24 24">
            <path d="M8 8C6.93913 8 5.92172 8.42143 5.17157 9.17157C4.42143 9.92172 4 10.9391 4 12C4 13.0609 4.42143 14.0783 5.17157 14.8284C5.92172 15.5786 6.93913 16 8 16C9.06087 16 10.0783 15.5786 10.8284 14.8284C11.5786 14.0783 12 13.0609 12 12C12 10.9391 11.5786 9.92172 10.8284 9.17157C10.0783 8.42143 9.06087 8 8 8ZM8 9.9C9.16 9.9 10.1 10.84 10.1 12C10.1 13.16 9.16 14.1 8 14.1C7.44305 14.1 6.9089 13.8788 6.51508 13.4849C6.12125 13.0911 5.9 12.557 5.9 12C5.9 11.443 6.12125 10.9089 6.51508 10.5151C6.9089 10.1212 7.44305 9.9 8 9.9ZM8 17C5.33 17 0 18.33 0 21V24H16V21C16 18.33 10.67 17 8 17ZM8 18.9C10.97 18.9 14.1 20.36 14.1 21V22.1H1.9V21C1.9 20.36 5 18.9 8 18.9Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M18 12C21.3137 12 24 9.31371 24 6C24 2.68629 21.3137 0 18 0C14.6863 0 12 2.68629 12 6C12 9.31371 14.6863 12 18 12ZM19 2V5H22V7H19V10H17V7H14V5H17V2H19Z"/>
        </symbol>

        <symbol id="box-plus" viewBox="0 0 24 24">
            <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M13 12H3L3 22H13V12ZM3 10C1.89543 10 1 10.8954 1 12V22C1 23.1046 1.89543 24 3 24H13C14.1046 24 15 23.1046 15 22V12C15 10.8954 14.1046 10 13 10H3Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M5 15C5 14.4477 5.44772 14 6 14L10 14C10.5523 14 11 14.4477 11 15C11 15.5523 10.5523 16 10 16L6 16C5.44772 16 5 15.5523 5 15Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M-8.74228e-08 11C-3.91405e-08 10.4477 0.447715 10 1 10L15 10C15.5523 10 16 10.4477 16 11C16 11.5523 15.5523 12 15 12L1 12C0.447715 12 -1.35705e-07 11.5523 -8.74228e-08 11Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M18 12C21.3137 12 24 9.31371 24 6C24 2.68629 21.3137 0 18 0C14.6863 0 12 2.68629 12 6C12 9.31371 14.6863 12 18 12ZM19 2V5H22V7H19V10H17V7H14V5H17V2H19Z"/>
        </symbol>

        <symbol id="plus" viewBox="0 0 24 24">
            <rect x="11" y="3" width="2" height="18"/>
            <rect x="3" y="13" width="2" height="18" transform="rotate(-90 3 13)"/>
        </symbol>

        <symbol id="organic" viewBox="0 0 18 14">
            <path d="M1 5.0014C1 7.12314 1.84285 9.15797 3.34315 10.6583C4.84344 12.1585 6.87827 13.0014 9 13.0014C11.1217 13.0014 13.1566 12.1585 14.6569 10.6583C16.1571 9.15797 17 7.12314 17 5.0014"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9 13.0014C9 10.8797 9.84285 8.84484 11.3431 7.34455C12.8434 5.84426 14.8783 5.0014 17 5.0014"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M1 5.0014C2.05057 5.0014 3.09086 5.20833 4.06147 5.61037C5.03207 6.01241 5.91399 6.60168 6.65685 7.34455C7.39972 8.08742 7.989 8.96933 8.39104 9.93994C8.79307 10.9105 9 11.9508 9 13.0014"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9 1C9.80622 1.76964 10.4372 2.70393 10.8499 3.73929C11.2627 4.77465 11.4476 5.88678 11.392 7"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6.6078 7C6.55221 5.88678 6.73709 4.77465 7.14986 3.73929C7.56262 2.70393 8.19358 1.76964 8.9998 1"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="cross" viewBox="0 0 17 17">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M15.5554 16.9698L-0.000151038 1.41421L1.41406 0L16.9696 15.5555L15.5554 16.9698Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M16.9698 1.41433L1.41421 16.9699L0 15.5557L15.5555 0.000114921L16.9698 1.41433Z"/>
        </symbol>

        <symbol id="cross-middle" viewBox="0 0 25 24">
            <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M18.1426 19.303L6.25376 7.41421L7.66797 6L19.5568 17.8888L18.1426 19.303Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M19.971 7.52539L8.08218 19.4142L6.66797 18L18.5568 6.11117L19.971 7.52539Z"/>
        </symbol>

        <symbol id="menu" viewBox="0 0 40 40">
            <path d="M30 12H10V14H30V12Z" fill="#3A3A3A"/>
            <path d="M30 19H10V21H30V19Z" fill="#3A3A3A"/>
            <path d="M30 26H10V28H30V26Z" fill="#3A3A3A"/>
        </symbol>

        <symbol id="facebook" viewBox="0 0 16 17">
            <path d="M6.48409 14.75H8.86298C8.86298 14.75 8.86298 11.43 8.86298 8.75H10.4745L10.6663 6.63H8.86298V5.39C8.86298 4.91 9.16994 4.83 9.36178 4.83C9.55363 4.83 10.6663 4.83 10.6663 4.83V2.75H8.90135C6.90615 2.75 6.48409 4.27 6.48409 5.27V6.63H5.33301V8.75H6.48409C6.48409 11.47 6.48409 14.75 6.48409 14.75Z"
                  fill="#4267B2"/>
        </symbol>

        <symbol id="instagram" viewBox="0 0 16 17">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M1.33301 8.74962C1.34877 7.84943 1.35753 6.94895 1.38292 6.04905C1.40481 5.27186 1.54404 4.51893 1.95648 3.84401C2.49705 2.9593 3.29332 2.41907 4.30442 2.24494C4.90454 2.14151 5.52129 2.10498 6.13134 2.09563C7.45884 2.07547 8.78663 2.08307 10.1144 2.09768C10.8085 2.10528 11.5056 2.12894 12.1731 2.36005C13.4673 2.80796 14.2528 3.71837 14.5047 5.05186C14.6185 5.65461 14.6448 6.27928 14.6541 6.89489C14.6743 8.21377 14.6664 9.53352 14.6521 10.8527C14.6445 11.5478 14.6217 12.2452 14.3923 12.914C13.9478 14.2112 13.0388 14.9984 11.7078 15.254C11.1063 15.3697 10.4816 15.3954 9.86661 15.4048C8.54407 15.4249 7.22095 15.417 5.89812 15.4027C5.20372 15.3951 4.50698 15.3715 3.83915 15.1404C2.54434 14.6924 1.75945 13.7817 1.50756 12.448C1.39372 11.8452 1.38088 11.2208 1.35665 10.6046C1.33242 9.98727 1.3514 9.36844 1.3514 8.7502C1.34556 8.74962 1.33914 8.74962 1.33301 8.74962ZM13.4875 8.64502C13.4784 8.64473 13.4694 8.64473 13.4606 8.64443C13.4606 8.11852 13.4752 7.59231 13.4565 7.06698C13.4364 6.499 13.425 5.92575 13.3389 5.36594C13.1965 4.44004 12.6781 3.78382 11.7648 3.5045C11.434 3.40341 11.0794 3.34556 10.7338 3.33621C9.51868 3.30378 8.30268 3.288 7.08726 3.29238C6.32486 3.29501 5.55982 3.314 4.80092 3.38149C3.68211 3.48113 2.90482 4.16657 2.69845 5.2669C2.58637 5.86469 2.57002 6.48497 2.55835 7.09591C2.53733 8.19595 2.54375 9.29657 2.55631 10.3969C2.56214 10.9167 2.58725 11.4382 2.63979 11.9554C2.75304 13.0738 3.42029 13.8486 4.52304 14.0619C5.10973 14.1753 5.72007 14.192 6.32077 14.2033C7.44395 14.2244 8.56801 14.2177 9.69148 14.2057C10.1962 14.2001 10.7023 14.1715 11.2046 14.1215C11.6792 14.0745 12.1235 13.9202 12.5053 13.6172C13.1244 13.1261 13.3643 12.4477 13.4011 11.695C13.4504 10.6791 13.4603 9.66179 13.4875 8.64502Z"
                  fill="#D82D71"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M8.03224 12.1678C6.12622 12.1678 4.61133 10.6462 4.61133 8.73153C4.61162 6.83239 6.13965 5.32127 8.05851 5.32214C9.94089 5.32302 11.4511 6.85927 11.4502 8.77273C11.4494 10.6464 9.91783 12.1678 8.03224 12.1678ZM8.0375 6.52415C6.81974 6.52094 5.81711 7.51871 5.81244 8.73825C5.80777 9.95516 6.80602 10.9602 8.02436 10.9658C9.23919 10.9713 10.2447 9.97035 10.2494 8.7514C10.2541 7.5342 9.25408 6.52736 8.0375 6.52415Z"
                  fill="#D82D71"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12.3836 5.18726C12.3833 5.63428 12.0202 5.99863 11.5806 5.99307C11.1422 5.98752 10.784 5.63049 10.7793 5.19398C10.7747 4.75133 11.1357 4.38845 11.5817 4.38758C12.0359 4.38641 12.3838 4.73351 12.3836 5.18726Z"
                  fill="#D82D71"/>
        </symbol>

        <symbol id="telegram" viewBox="0 0 16 17">
            <path d="M0.926183 8.17077L4.30558 9.42473L5.61395 13.607C5.69768 13.875 6.02706 13.974 6.24584 13.796L8.12926 12.2692C8.32664 12.1094 8.60775 12.1009 8.8143 12.2504L12.212 14.703C12.4461 14.8719 12.7773 14.7443 12.836 14.4637L15.325 2.56076C15.3892 2.25395 15.0854 1.99757 14.7915 2.11057L0.922516 7.42958C0.579687 7.56081 0.582743 8.04258 0.926183 8.17077ZM5.40312 8.75705L12.0079 4.71266C12.1265 4.64037 12.2487 4.79954 12.1466 4.89371L6.69561 9.93081C6.50433 10.1082 6.38028 10.3452 6.34545 10.6028L6.16028 11.9709C6.13584 12.1538 5.87734 12.172 5.82662 11.9952L5.11285 9.50068C5.03035 9.21635 5.14952 8.91258 5.40312 8.75705Z"
                  fill="#24A0E0"/>
        </symbol>

        <symbol id="twitter" viewBox="0 0 16 17">
            <path d="M14.3108 3.5944C13.7775 3.90551 13.1997 4.12774 12.5775 4.26107C12.0886 3.72774 11.3775 3.41663 10.5775 3.41663C9.06634 3.41663 7.8219 4.66107 7.8219 6.17218C7.8219 6.3944 7.86634 6.61663 7.91079 6.7944C5.64412 6.66107 3.59967 5.5944 2.26634 3.94996C2.04412 4.34996 1.91079 4.83885 1.91079 5.32774C1.91079 6.26107 2.39967 7.10551 3.11079 7.5944C2.66634 7.5944 2.2219 7.46107 1.86634 7.23885V7.28329C1.86634 8.61663 2.79967 9.72774 4.04412 9.94996C3.8219 9.9944 3.55523 10.0388 3.33301 10.0388C3.15523 10.0388 2.97745 10.0388 2.79967 9.9944C3.15523 11.0611 4.17745 11.8611 5.37745 11.9055C4.44412 12.6611 3.24412 13.0611 1.99967 13.0611C1.77745 13.0611 1.55523 13.0611 1.33301 13.0166C2.53301 13.7722 3.99967 14.2611 5.51079 14.2611C10.533 14.2611 13.2886 10.0833 13.2886 6.48329C13.2886 6.34996 13.2886 6.26107 13.2886 6.12774C13.8219 5.72774 14.2663 5.23885 14.6663 4.70551C14.1775 4.92774 13.6441 5.06107 13.1108 5.14996C13.6886 4.74996 14.133 4.21663 14.3108 3.5944Z"
                  fill="#1DA1F2"/>
        </symbol>

        <symbol id="youtube" viewBox="0 0 16 17">
            <path d="M15.678 5.09587C15.5037 4.43802 14.981 3.91867 14.3189 3.73689C13.1253 3.41663 8.33366 3.41663 8.33366 3.41663C8.33366 3.41663 3.54199 3.41663 2.33972 3.73689C1.6776 3.91001 1.16358 4.42937 0.980629 5.09587C0.666992 6.29039 0.666992 8.78329 0.666992 8.78329C0.666992 8.78329 0.666992 11.2762 0.989341 12.4707C1.16358 13.1286 1.68631 13.6479 2.34843 13.8297C3.54199 14.15 8.33366 14.15 8.33366 14.15C8.33366 14.15 13.1253 14.15 14.3276 13.8297C14.9897 13.6566 15.5037 13.1372 15.6867 12.4707C16.0003 11.2762 16.0003 8.78329 16.0003 8.78329C16.0003 8.78329 16.0003 6.29039 15.678 5.09587ZM6.76548 11.0511V6.51544L10.7731 8.78329L6.76548 11.0511Z"
                  fill="#EE3124"/>
        </symbol>

        <symbol id="phone" viewBox="0 0 18 18">
            <path d="M17 12.5C15.8 12.5 14.5 12.3 13.4 11.9C13.3 11.9 13.2 11.9 13.1 11.9C12.8 11.9 12.6 12 12.4 12.2L10.2 14.4C7.4 12.9 5 10.6 3.6 7.8L5.8 5.6C6.1 5.3 6.2 4.9 6 4.6C5.7 3.5 5.5 2.2 5.5 1C5.5 0.5 5 0 4.5 0H1C0.5 0 0 0.5 0 1C0 10.4 7.6 18 17 18C17.5 18 18 17.5 18 17V13.5C18 13 17.5 12.5 17 12.5ZM2 2H3.5C3.6 2.9 3.8 3.8 4 4.6L2.8 5.8C2.4 4.6 2.1 3.3 2 2ZM16 16C14.7 15.9 13.4 15.6 12.2 15.2L13.4 14C14.2 14.2 15.1 14.4 16 14.4V16Z"/>
        </symbol>

        <symbol id="mail" viewBox="0 0 20 16">
            <path d="M20 2C20 0.9 19.1 0 18 0H2C0.9 0 0 0.9 0 2V14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2ZM18 2L10 7L2 2H18ZM18 14H2V4L10 9L18 4V14Z"/>
        </symbol>

        <symbol id="arrow-left" viewBox="0 0 25 24">
            <rect x="-0.25" y="0.25" width="12.5" height="0.5" transform="matrix(-1 0 0 1 19.2071 11.3535)"
                  stroke-width="0.5"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M6.91421 11.8535L12.0607 6.70707L11.3536 5.99996L5.5 11.8535L11.3536 17.7071L12.0607 17L6.91421 11.8535Z"/>
        </symbol>

        <symbol id="arrow-right" viewBox="0 0 25 24">
            <rect x="5.75" y="11.6035" width="12.5" height="0.5" stroke-width="0.5"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M18.2929 11.8535L13.1464 6.70707L13.8536 5.99996L19.7071 11.8535L13.8536 17.7071L13.1464 17L18.2929 11.8535Z"/>
        </symbol>

        <svg id="delete" viewBox="0 0 24 24">
            <path d="M5 19.7778C5 20.3671 5.24082 20.9324 5.66947 21.3491C6.09812 21.7659 6.67951 22 7.28571 22H16.7143C17.3205 22 17.9019 21.7659 18.3305 21.3491C18.7592 20.9324 19 20.3671 19 19.7778V7H5V19.7778ZM7 9H17V20H7V9ZM16 3L14.8571 2H9.14286L8 3H4V5H20V3H16Z"/>
        </svg>

        <symbol id="webinar" viewBox="0 0 11 15">
            <path d="M5.33333 0.804077C6.57101 0.804077 7.75799 1.29574 8.63316 2.17091C9.50833 3.04608 10 4.23307 10 5.47074C10 6.70842 9.50833 7.89541 8.63316 8.77058C7.75799 9.64575 6.57101 10.1374 5.33333 10.1374C4.09566 10.1374 2.90867 9.64575 2.0335 8.77058C1.15833 7.89541 0.666667 6.70842 0.666667 5.47074C0.666667 4.23307 1.15833 3.04608 2.0335 2.17091C2.90867 1.29574 4.09566 0.804077 5.33333 0.804077ZM5.33333 2.13741C4.44928 2.13741 3.60143 2.4886 2.97631 3.11372C2.35119 3.73884 2 4.58669 2 5.47074C2 6.3548 2.35119 7.20265 2.97631 7.82777C3.60143 8.45289 4.44928 8.80408 5.33333 8.80408C5.77107 8.80408 6.20453 8.71786 6.60894 8.55034C7.01336 8.38283 7.38083 8.1373 7.69036 7.82777C7.99988 7.51824 8.24542 7.15077 8.41293 6.74636C8.58045 6.34194 8.66667 5.90848 8.66667 5.47074C8.66667 4.58669 8.31548 3.73884 7.69036 3.11372C7.06523 2.4886 6.21739 2.13741 5.33333 2.13741ZM5.33333 3.47074C5.86377 3.47074 6.37247 3.68146 6.74755 4.05653C7.12262 4.4316 7.33333 4.94031 7.33333 5.47074C7.33333 6.00118 7.12262 6.50988 6.74755 6.88496C6.37247 7.26003 5.86377 7.47074 5.33333 7.47074C4.8029 7.47074 4.29419 7.26003 3.91912 6.88496C3.54405 6.50988 3.33333 6.00118 3.33333 5.47074C3.33333 4.94031 3.54405 4.4316 3.91912 4.05653C4.29419 3.68146 4.8029 3.47074 5.33333 3.47074ZM1.33333 14.1374C0.979711 14.1374 0.640573 13.9969 0.390524 13.7469C0.140476 13.4968 0 13.1577 0 12.8041C0 12.5507 0.0666666 12.3174 0.193333 12.1174L1.40667 10.0107C2.46 10.9174 3.83333 11.4707 5.33333 11.4707C6.83333 11.4707 8.20667 10.9174 9.26 10.0107L10.4733 12.1174C10.6 12.3174 10.6667 12.5507 10.6667 12.8041C10.6667 13.1577 10.5262 13.4968 10.2761 13.7469C10.0261 13.9969 9.68695 14.1374 9.33333 14.1374H1.33333Z"/>
        </symbol>

        <symbol id="article" viewBox="0 0 14 13">
            <path d="M12.3335 0.470703H1.66683C0.926829 0.470703 0.333496 1.06404 0.333496 1.80404V11.1374C0.333496 11.8774 0.926829 12.4707 1.66683 12.4707H12.3335C13.0735 12.4707 13.6668 11.8774 13.6668 11.1374V1.80404C13.6668 1.06404 13.0735 0.470703 12.3335 0.470703ZM2.3335 3.13737H5.66683V7.13737H2.3335V3.13737ZM11.6668 9.80404H2.3335V8.4707H11.6668V9.80404ZM11.6668 7.13737H7.00016V5.80404H11.6668V7.13737ZM11.6668 4.4707H7.00016V3.13737H11.6668V4.4707Z"/>
        </symbol>

        <symbol id="course" viewBox="0 0 16 17">
            <path d="M8.00033 2.5L0.666992 6.5L8.00033 10.5L14.0003 7.22667V11.8333H15.3337V6.5L8.00033 2.5ZM3.33366 9.28667V11.9533L8.00033 14.5L12.667 11.9533V9.28667L8.00033 11.8333L3.33366 9.28667Z"/>
        </symbol>

        <symbol id="awaits" viewBox="0 0 30.393 30.393">
            <path style="fill:#ffffff;" d="M14.49,14.623c0,0-3.553-3.459-4.939-7.436V6.105H20.84v1.082c-1.8,4.391-4.939,7.436-4.939,7.436
		H14.49z"/>
            <path style="fill:#ffffff;" d="M24.91,4.961V3.254h1.619V0H3.864v3.254h1.618v1.707c0,2.607,4.678,9.727,4.899,10.24
		c-0.217,0.514-4.899,7.633-4.899,10.229v1.705H3.864v3.258h22.665v-3.258H24.91V25.43c0-2.609-4.682-9.682-4.929-10.234
		C20.228,14.643,24.91,7.568,24.91,4.961z M23.291,25.43v1.705H7.1V25.43c0-1.873,4.961-9.295,4.961-10.234S7.1,6.836,7.1,4.961
		V3.254h16.19v1.707c0,1.875-5.001,9.295-5.001,10.234S23.291,23.557,23.291,25.43z"/>
        </symbol>

        <symbol id="lesson" viewBox="0 0 16 16" fill="none">
            <rect x="2" y="1.99992" width="12" height="9.5" rx="0.666667" stroke="#737373" stroke-width="1.33333"
                  stroke-miterlimit="10"/>
            <path d="M6 1.5H10V2.83333C10 3.20152 9.70152 3.5 9.33333 3.5H6.66667C6.29848 3.5 6 3.20152 6 2.83333V1.5Z"
                  fill="#737373"/>
            <line y1="-0.666667" x2="3.6935" y2="-0.666667"
                  transform="matrix(-0.360994 0.932568 -0.961187 -0.275896 5.3335 11.0555)" stroke="#737373"
                  stroke-width="1.33333" stroke-miterlimit="10"/>
            <line y1="-0.666667" x2="3.6935" y2="-0.666667"
                  transform="matrix(0.360994 0.932568 0.961187 -0.275896 10.6665 11.0555)" stroke="#737373"
                  stroke-width="1.33333" stroke-miterlimit="10"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.6665 9.33334L9.99985 7L6.6665 4.66666V9.33334Z"
                  fill="#737373"/>
        </symbol>

        <symbol id="consultation" viewBox="0 0 22 19">
            <path d="M7.20515 4.10703C7.63915 3.87503 8.10615 3.80103 8.56115 3.80103C9.08715 3.80103 9.69915 3.97403 10.1932 4.37803C10.7102 4.80203 11.0612 5.45203 11.0612 6.30003C11.0612 7.27503 10.3722 7.80403 9.98415 8.10203L9.89915 8.16803C9.47515 8.50103 9.31115 8.67903 9.31115 9.05003C9.31115 9.24894 9.23213 9.4397 9.09148 9.58036C8.95083 9.72101 8.76006 9.80003 8.56115 9.80003C8.36224 9.80003 8.17147 9.72101 8.03082 9.58036C7.89017 9.4397 7.81115 9.24894 7.81115 9.05003C7.81115 7.91603 8.52215 7.34203 8.97315 6.98803C9.48615 6.58503 9.56115 6.49503 9.56115 6.30003C9.56115 5.90303 9.41215 5.67803 9.24115 5.53903C9.0472 5.38627 8.80803 5.30221 8.56115 5.30003C8.26615 5.30003 8.06315 5.34903 7.91115 5.43003C7.76815 5.50603 7.61715 5.64003 7.47115 5.91003C7.4242 5.9967 7.36064 6.07327 7.2841 6.13538C7.20756 6.19749 7.11953 6.24392 7.02505 6.27201C6.93057 6.3001 6.83148 6.3093 6.73343 6.2991C6.63539 6.28889 6.54032 6.25947 6.45365 6.21253C6.36698 6.16558 6.2904 6.10202 6.22829 6.02548C6.16618 5.94894 6.11976 5.86091 6.09167 5.76643C6.06358 5.67194 6.05438 5.57285 6.06458 5.47481C6.07479 5.37677 6.1042 5.2817 6.15115 5.19503C6.41515 4.70903 6.76315 4.34203 7.20515 4.10603V4.10703Z"
                  stroke-width="0.3"/>
            <path d="M8.56055 12.8C8.82576 12.8 9.08012 12.6947 9.26765 12.5072C9.45519 12.3196 9.56055 12.0653 9.56055 11.8C9.56055 11.5348 9.45519 11.2805 9.26765 11.0929C9.08012 10.9054 8.82576 10.8 8.56055 10.8C8.29533 10.8 8.04098 10.9054 7.85344 11.0929C7.6659 11.2805 7.56055 11.5348 7.56055 11.8C7.56055 12.0653 7.6659 12.3196 7.85344 12.5072C8.04098 12.6947 8.29533 12.8 8.56055 12.8Z"
                  stroke-width="0.3"/>
            <path d="M8.56073 0.800049C7.29923 0.799837 6.05806 1.11783 4.95207 1.72459C3.84608 2.33135 2.91101 3.20729 2.23338 4.27134C1.55575 5.33538 1.15746 6.55316 1.07537 7.81199C0.993278 9.07081 1.23004 10.33 1.76373 11.473L1.03873 14.315C0.985519 14.5238 0.987162 14.7428 1.0435 14.9507C1.09985 15.1587 1.20897 15.3485 1.3603 15.5018C1.51162 15.6552 1.70001 15.7668 1.90719 15.8259C2.11436 15.885 2.33329 15.8895 2.54273 15.839C3.29273 15.659 4.44573 15.382 5.47273 15.137C6.49241 15.5969 7.60203 15.8228 8.72032 15.7982C9.83861 15.7737 10.9373 15.4993 11.9358 14.9953C12.9343 14.4912 13.8075 13.7701 14.4912 12.8849C15.175 11.9997 15.6522 10.9727 15.8877 9.87923C16.1232 8.78575 16.1111 7.65343 15.8524 6.56521C15.5937 5.47698 15.0948 4.46041 14.3923 3.58995C13.6899 2.71948 12.8016 2.01717 11.7926 1.53443C10.7835 1.0517 9.67929 0.800782 8.56073 0.800049ZM2.56073 8.30005C2.56113 6.99535 2.98679 5.72633 3.77321 4.68528C4.55964 3.64424 5.66397 2.8879 6.91888 2.53088C8.17378 2.17385 9.51086 2.23561 10.7275 2.70677C11.9442 3.17794 12.9741 4.03284 13.6612 5.14194C14.3483 6.25104 14.6552 7.55389 14.5354 8.85307C14.4155 10.1523 13.8754 11.377 12.997 12.3416C12.1185 13.3063 10.9496 13.9583 9.66726 14.1989C8.38494 14.4396 7.05913 14.2556 5.89073 13.675L5.64773 13.554L5.38273 13.617L2.59473 14.284C2.79473 13.504 3.05673 12.472 3.28473 11.576L3.35473 11.3L3.22473 11.047C2.78677 10.1977 2.55906 9.25566 2.56073 8.30005Z"
                  stroke-width="0.3"/>
            <path d="M13.5609 18.7999C11.5909 18.7999 9.79994 18.0409 8.46094 16.7999H8.56094C9.27894 16.7999 9.97594 16.7109 10.6419 16.5429C11.5059 17.0249 12.5019 17.2999 13.5619 17.2999C14.5219 17.2999 15.4279 17.0749 16.2309 16.6749L16.4739 16.5539L16.7389 16.6169C17.6599 16.8369 18.7039 17.0619 19.4789 17.2269C19.3029 16.4759 19.0639 15.4709 18.8369 14.5759L18.7669 14.2999L18.8969 14.0469C19.3349 13.1976 19.5626 12.2555 19.5609 11.2999C19.5615 10.2968 19.3102 9.30957 18.8303 8.42868C18.3504 7.5478 17.6571 6.80142 16.8139 6.25794C16.6376 5.54366 16.3687 4.8555 16.0139 4.21094C17.0067 4.55469 17.9161 5.10309 18.6835 5.82063C19.4508 6.53817 20.0589 7.40886 20.4684 8.37633C20.8779 9.34379 21.0797 10.3865 21.0607 11.4369C21.0416 12.4873 20.8022 13.5219 20.3579 14.4739C20.6109 15.4819 20.8679 16.5739 21.0299 17.2769C21.0775 17.4807 21.0729 17.6932 21.0165 17.8947C20.9602 18.0962 20.8539 18.2802 20.7076 18.4298C20.5612 18.5793 20.3795 18.6895 20.1793 18.7502C19.979 18.8109 19.7667 18.8201 19.5619 18.7769C18.8349 18.6249 17.6919 18.3809 16.6489 18.1369C15.6786 18.5753 14.6257 18.8014 13.5609 18.7999Z"
                  stroke-width="0.3"/>
        </symbol>

        <symbol id="search" viewBox="0 0 18 18">
            <path d="M6.5 0C8.22391 0 9.87721 0.684819 11.0962 1.90381C12.3152 3.12279 13 4.77609 13 6.5C13 8.11 12.41 9.59 11.44 10.73L11.71 11H12.5L17.5 16L16 17.5L11 12.5V11.71L10.73 11.44C9.59 12.41 8.11 13 6.5 13C4.77609 13 3.12279 12.3152 1.90381 11.0962C0.684819 9.87721 0 8.22391 0 6.5C0 4.77609 0.684819 3.12279 1.90381 1.90381C3.12279 0.684819 4.77609 0 6.5 0ZM6.5 2C4 2 2 4 2 6.5C2 9 4 11 6.5 11C9 11 11 9 11 6.5C11 4 9 2 6.5 2Z"
                  fill="white"/>
        </symbol>

        <symbol id="filter" viewBox="0 0 18 19">
            <path d="M11.9999 16.88C12.0399 17.18 11.9399 17.5 11.7099 17.71C11.3199 18.1 10.6899 18.1 10.2999 17.71L6.28986 13.7C6.05986 13.47 5.95986 13.16 5.99986 12.87V7.75L1.20986 1.62C0.869858 1.19 0.949858 0.56 1.37986 0.22C1.56986 0.08 1.77986 0 1.99986 0H15.9999C16.2199 0 16.4299 0.08 16.6199 0.22C17.0499 0.56 17.1299 1.19 16.7899 1.62L11.9999 7.75V16.88ZM4.03986 2L7.99986 7.06V12.58L9.99986 14.58V7.05L13.9599 2H4.03986Z"/>
        </symbol>

        <symbol id="favorite" viewBox="0 0 24 24">
            <path d="M12.1 18.55L12 18.65L11.89 18.55C7.14 14.24 4 11.39 4 8.5C4 6.5 5.5 5 7.5 5C9.04 5 10.54 6 11.07 7.36H12.93C13.46 6 14.96 5 16.5 5C18.5 5 20 6.5 20 8.5C20 11.39 16.86 14.24 12.1 18.55ZM16.5 3C14.76 3 13.09 3.81 12 5.08C10.91 3.81 9.24 3 7.5 3C4.42 3 2 5.41 2 8.5C2 12.27 5.4 15.36 10.55 20.03L12 21.35L13.45 20.03C18.6 15.36 22 12.27 22 8.5C22 5.41 19.58 3 16.5 3Z"/>
        </symbol>

        <symbol id="account" viewBox="0 0 24 24">
            <path d="M12 2C10.6868 2 9.38642 2.25866 8.17317 2.7612C6.95991 3.26375 5.85752 4.00035 4.92893 4.92893C3.05357 6.8043 2 9.34784 2 12C2 14.6522 3.05357 17.1957 4.92893 19.0711C5.85752 19.9997 6.95991 20.7362 8.17317 21.2388C9.38642 21.7413 10.6868 22 12 22C14.6522 22 17.1957 20.9464 19.0711 19.0711C20.9464 17.1957 22 14.6522 22 12C22 10.6868 21.7413 9.38642 21.2388 8.17317C20.7362 6.95991 19.9997 5.85752 19.0711 4.92893C18.1425 4.00035 17.0401 3.26375 15.8268 2.7612C14.6136 2.25866 13.3132 2 12 2ZM7.07 18.28C7.5 17.38 10.12 16.5 12 16.5C13.88 16.5 16.5 17.38 16.93 18.28C15.57 19.36 13.86 20 12 20C10.14 20 8.43 19.36 7.07 18.28ZM18.36 16.83C16.93 15.09 13.46 14.5 12 14.5C10.54 14.5 7.07 15.09 5.64 16.83C4.62 15.5 4 13.82 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 13.82 19.38 15.5 18.36 16.83ZM12 6C10.06 6 8.5 7.56 8.5 9.5C8.5 11.44 10.06 13 12 13C13.94 13 15.5 11.44 15.5 9.5C15.5 7.56 13.94 6 12 6ZM12 11C11.6022 11 11.2206 10.842 10.9393 10.5607C10.658 10.2794 10.5 9.89782 10.5 9.5C10.5 9.10218 10.658 8.72064 10.9393 8.43934C11.2206 8.15804 11.6022 8 12 8C12.3978 8 12.7794 8.15804 13.0607 8.43934C13.342 8.72064 13.5 9.10218 13.5 9.5C13.5 9.89782 13.342 10.2794 13.0607 10.5607C12.7794 10.842 12.3978 11 12 11Z"/>
        </symbol>

        <symbol id="eye-off" viewBox="0 0 24 24">
            <path d="M2 5.27L3.28 4L20 20.72L18.73 22L15.65 18.92C14.5 19.3 13.28 19.5 12 19.5C7 19.5 2.73 16.39 1 12C1.69 10.24 2.79 8.69 4.19 7.46L2 5.27ZM12 9C12.7956 9 13.5587 9.31607 14.1213 9.87868C14.6839 10.4413 15 11.2044 15 12C15 12.35 14.94 12.69 14.83 13L11 9.17C11.31 9.06 11.65 9 12 9ZM12 4.5C17 4.5 21.27 7.61 23 12C22.18 14.08 20.79 15.88 19 17.19L17.58 15.76C18.94 14.82 20.06 13.54 20.82 12C19.17 8.64 15.76 6.5 12 6.5C10.91 6.5 9.84 6.68 8.84 7L7.3 5.47C8.74 4.85 10.33 4.5 12 4.5ZM3.18 12C4.83 15.36 8.24 17.5 12 17.5C12.69 17.5 13.37 17.43 14 17.29L11.72 15C10.29 14.85 9.15 13.71 9 12.28L5.6 8.87C4.61 9.72 3.78 10.78 3.18 12Z"
                  fill="#3A3A3A"/>
        </symbol>

        <symbol id="checkmark" viewBox="0 0 24 25">
            <path d="M3 10.6316L10.3636 18L21 4" stroke-width="2"/>
        </symbol>

        <symbol id="calendar" viewBox="0 0 24 24">
            <path d="M7 12H9V14H7V12ZM21 6V20C21 20.5304 20.7893 21.0391 20.4142 21.4142C20.0391 21.7893 19.5304 22 19 22H5C3.89 22 3 21.1 3 20V6C3 5.46957 3.21071 4.96086 3.58579 4.58579C3.96086 4.21071 4.46957 4 5 4H6V2H8V4H16V2H18V4H19C19.5304 4 20.0391 4.21071 20.4142 4.58579C20.7893 4.96086 21 5.46957 21 6ZM5 8H19V6H5V8ZM19 20V10H5V20H19ZM15 14V12H17V14H15ZM11 14V12H13V14H11ZM7 16H9V18H7V16ZM15 18V16H17V18H15ZM11 18V16H13V18H11Z"/>
        </symbol>

        <symbol id="comment" viewBox="0 0 16 18" fill="none">
            <mask id="path-1-inside-1" fill="white">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8.5 14.5603C12.0899 14.5603 15 11.9584 15 8.74889C15 5.53935 12.0899 2.9375 8.5 2.9375C4.91015 2.9375 2 5.53935 2 8.74889C2 10.0509 2.47894 11.253 3.28789 12.2218L2 16.9375L7.76417 14.5235C8.00569 14.5478 8.25121 14.5603 8.5 14.5603Z"/>
            </mask>
            <path d="M3.28789 12.2218L4.63843 12.5907L4.83099 11.8856L4.36255 11.3246L3.28789 12.2218ZM2 16.9375L0.649462 16.5686L-0.106775 19.3376L2.54081 18.2288L2 16.9375ZM7.76417 14.5235L7.90449 13.1305L7.55103 13.0949L7.22336 13.2321L7.76417 14.5235ZM13.6 8.74889C13.6 11.0419 11.4682 13.1603 8.5 13.1603V15.9603C12.7115 15.9603 16.4 12.8749 16.4 8.74889H13.6ZM8.5 4.3375C11.4682 4.3375 13.6 6.45585 13.6 8.74889H16.4C16.4 4.62284 12.7115 1.5375 8.5 1.5375V4.3375ZM3.4 8.74889C3.4 6.45585 5.5318 4.3375 8.5 4.3375V1.5375C4.28849 1.5375 0.6 4.62284 0.6 8.74889H3.4ZM4.36255 11.3246C3.7463 10.5865 3.4 9.69666 3.4 8.74889H0.6C0.6 10.4052 1.21157 11.9194 2.21323 13.1191L4.36255 11.3246ZM3.35054 17.3063L4.63843 12.5907L1.93735 11.853L0.649462 16.5686L3.35054 17.3063ZM7.22336 13.2321L1.45919 15.6462L2.54081 18.2288L8.30498 15.8148L7.22336 13.2321ZM8.5 13.1603C8.29811 13.1603 8.09942 13.1501 7.90449 13.1305L7.62385 15.9164C7.91196 15.9454 8.20431 15.9603 8.5 15.9603V13.1603Z"
                  fill="#737373" mask="url(#path-1-inside-1)"/>
        </symbol>

    </svg>
</div>