<!-- about_activity_top-block.html.twig -->
<div class="section">
    <ul class="breadcrumbs">
        <li><a href="javascript:void(0)">Головна</a></li>
        <li><a href="javascript:void(0)">Про проект</a></li>
        <li>Контакти</li>
    </ul>

    <h1 class="h1 marginBottom40px"><strong>ДІЯЛЬНІСТЬ ПРОЕКТУ</strong></h1>

    <div class="about-activity-banner">
        <img class="about-activity-banner__image" src="/images/smat/img-activity-001.jpg" alt="">
    </div>

    <div class="about-activity-general">
        <div class="about-activity-general__items-wrap">
            <div class="about-activity-general__item">
                <div class="about-activity-general__item-inner">
                    <img class="about-activity-general__item-pic" src="/images/smat/ico-man-woman_green_60x60.svg"
                            alt="">
                    <div class="about-activity-general__item-info">
                        <div class="about-activity-general__item-info-value">
                            <strong>44 620</strong>
                        </div>
                        <div class="about-activity-general__item-info-text">
                            зареєстрованих клієнтів і клієнток Проекту
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-activity-general__item">
                <div class="about-activity-general__item-inner">
                    <img class="about-activity-general__item-pic" src="/images/smat/ico-apple_green_60x60.svg" alt="">
                    <div class="about-activity-general__item-info">
                        <div class="about-activity-general__item-info-value">
                            <strong>104 079</strong> тон
                        </div>
                        <div class="about-activity-general__item-info-text">
                            фруктів і овочів вироблено і збуто клієнтами і клієнтками за рік
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-activity-general__item">
                <div class="about-activity-general__item-inner">
                    <img class="about-activity-general__item-pic" src="/images/smat/ico-money_green_60x60.svg" alt="">
                    <div class="about-activity-general__item-info">
                        <div class="about-activity-general__item-info-value">
                            <strong>23%</strong>
                        </div>
                        <div class="about-activity-general__item-info-text">
                            cтали заробляти більше завдяки підтримки Проекту
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /about_activity_top-block.html.twig -->

