<!-- about_activity_client-map-block.html.twig -->
<div class="section">
    <h2 class="h2">Наші клієнти та клієнтки на мапі</h2>

    <div class="about-activity-client-map">

        <div class="about-activity-client-map__items-wrap">
            <div class="about-activity-client-map__item">
                <div class="about-activity-client-map__item-inner">
                    <div class="about-activity-client-map__item-percent">91%</div>
                    <div class="about-activity-client-map__item-info">
                        <div class="about-activity-client-map__item-info-text">
                            розташовані в областях дії Проекту: Запорізька, Херсонська, Миколаївська, Одеська
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-activity-client-map__item">
                <div class="about-activity-client-map__item-inner">
                    <div class="about-activity-client-map__item-percent">9%</div>
                    <div class="about-activity-client-map__item-info">
                        <div class="about-activity-client-map__item-info-text">
                            розташовані по всій Україні
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-activity-client-map__wide-map">
            <img class="about-activity-client-map__wide-map-image" src="/images/smat/img-activity-map-001.jpg" alt="">
        </div>

    </div>
</div>
<!-- /about_activity_client-map-block.html.twig -->

