<div class="section">
    <div class="course-promo">
        <div class="course-promo__inner">
            <div class="course-promo__info-column">
                <div class="course-promo__info-column-inner">
                    <div class="course-promo__badge">
                        <div class="course-promo__badge-label">
                            <svg class="course-promo__badge-label-ico">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#course"></use>
                            </svg>
                            <span class="course-promo__badge-label-text">Курс</span>
                        </div>
                    </div>
                    <div class="course-promo__title">Онлайн-курс "Пасіка. Від хобі до бізнесу"</div>
                    <div class="course-promo__subtitle">UHBDP представляє унікальний бізнес-курс для просунутих бджолярів.</div>
                    <div class="course-promo__info">
                        <div class="course-promo__info-item">
                            <img class="course-promo__info-ico" src="/images/smat/ico-calendar_dark_24x24.svg" alt="">
                            <span class="course-promo__info-text">20 днів - 20 відеоуроків.</span>
                        </div>
                        <div class="course-promo__info-item">
                            <img class="course-promo__info-ico" src="/images/smat/ico-course_dark_24x24.svg" alt="">
                            <span class="course-promo__info-text">5 крутих спікерів-експертів</span>
                        </div>
                        <div class="course-promo__info-item">
                            <img class="course-promo__info-ico" src="/images/smat/ico-rocket_dark_24x24.svg" alt="">
                            <span class="course-promo__info-text">Стартуємо 29 жовтня 2020 року!</span>
                        </div>
                    </div>
                    <div class="course-promo__bottom">
                        <a class="btn-h50-green" href="#">
                            <span>Почати навчання</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="course-promo__pic-column">
                <figure class="course-promo__figure">
                    <img class="course-promo__image" src="/images/smat/img-bee_course_fb1.jpg" alt="">
                </figure>
            </div>
        </div>
    </div>
</div>