<div class="section">
    <h2 class="h2">Контакти партнерських організацій</h2>

    <div class="partners">

        <div class="partners__subtitle">
            Якщо вам необхідна підтримка по будь-якому з розділів – звертайтеся до наших партнерів в областях або ж телефонуйте до контакт-центру
            <a href="tel:0800500184">0 800-500-184</a>. Дзвінки безкоштовні зі всіх номерів стаціонарних та мобільних операторів зв'язку України.
        </div>

        <div class="partners__list">

            <div class="partner-item" data-color="#D19000">
                <div class="partner-item__inner">
                    <div class="partner-item-title">
                        <svg class="partner-item-title-ico">
                            <use xlink:href="/images/smat/region-zaporizha_60x60.svg#Layer_1"></use>
                        </svg>
                        <div class="partner-item-title-region">
                            Запорізька область
                        </div>
                    </div>
                    <div class="partner-icon-text">
                        <div class="partner-icon-text-title">
                            ІКЦ «Агро-Таврія»
                        </div>
                        <ul class="partner-icon-text-ul">
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-location_dark_24x24.svg" alt="">
                                <div class="txt">
                                    Мелітополь, пр. Б.Хмельницкого, 20, ТДАТУ
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-avatar_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>Директор</strong> - Подшивалов Геннадій
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-phone_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>Моб. тел.</strong> 067-613-72-58
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-email_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>E-mail:</strong> <a href="mailto:ipod.tdatu@gmail.com"
                                            target="_blank">ipod.tdatu@gmail.com</a>
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-web_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>Веб-сайт:</strong> <a href="http://ikcat.org"
                                            target="_blank">http://ikcat.org</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="partner-icon-text">
                        <div class="partner-icon-text-title">
                            ГО «ВУ Рада Жінок-Фермерів України»
                        </div>
                        <ul class="partner-icon-text-ul">
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-avatar_dark_24x24.svg" alt="">
                                <div class="txt">
                                    Спеціаліст з розвитку ринку - Станіслав Глущенко
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-phone_dark_24x24.svg" alt="">
                                <div class="txt">
                                    Моб. тел. 098-217-63-66
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="partner-item" data-color="#007A33">
                <div class="partner-item__inner">
                    <div class="partner-item-title">
                        <svg class="partner-item-title-ico">
                            <use xlink:href="/images/smat/region-mukolaiv_60x60.svg#Layer_1"></use>
                        </svg>
                        <div class="partner-item-title-region">
                            Миколаївська область
                        </div>
                    </div>
                    <div class="partner-icon-text">
                        <div class="partner-icon-text-title">
                            БФ ЛАСКА
                        </div>
                        <ul class="partner-icon-text-ul">
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-location_dark_24x24.svg" alt="">
                                <div class="txt">
                                    Миколаїв, вул. Бузніка 5/1, офіс 206
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-avatar_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>Вик. директор</strong> - Купрієвич Ірина
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-phone_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>Тел.:</strong> 0675147080, 0933853608
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-email_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>E-mail:</strong> <a href="mailto:irina.kuprievich@gmail.com"
                                            target="_blank">irina.kuprievich@gmail.com</a>
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-web_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>Веб-сайт:</strong> <a href="http://laskabf.org"
                                            target="_blank">http://laskabf.org</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="partner-item" data-color="#D86018">
                <div class="partner-item__inner">
                    <div class="partner-item-title">
                        <svg class="partner-item-title-ico">
                            <use xlink:href="/images/smat/region-odessa_60x60.svg#Layer_1"></use>
                        </svg>
                        <div class="partner-item-title-region">
                            Одеська область
                        </div>
                    </div>
                    <div class="partner-icon-text">
                        <div class="partner-icon-text-title">
                            ІКЦ «Агро-Таврія»
                        </div>
                        <ul class="partner-icon-text-ul">
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-location_dark_24x24.svg" alt="">
                                <div class="txt">
                                    Одеса, вул. Преображенська 34, оф. 355
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-avatar_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>Директор</strong> - Мельник Євген
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-phone_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>Тел./Факс:</strong> 048-726-95-59
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-email_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>E-mail:</strong> <a href="mailto:oracs@ukr.net"
                                            target="_blank">oracs@ukr.net</a>
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-web_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>Веб-сайт:</strong> <a href="http://oracs.org"
                                            target="_blank">http://oracs.org</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="partner-icon-text">
                        <div class="partner-icon-text-title">
                            ГО «ВУ Рада Жінок-Фермерів України»
                        </div>
                        <ul class="partner-icon-text-ul">
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-avatar_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>Голова правління</strong> - Людмила Клєбанова
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-phone_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>Моб. тел.</strong> 380675571528
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="partner-item" data-color="#00587C">
                <div class="partner-item__inner">
                    <div class="partner-item-title">
                        <svg class="partner-item-title-ico">
                            <use xlink:href="/images/smat/region-herson_60x60.svg#Layer_1"></use>
                        </svg>
                        <div class="partner-item-title-region">
                            Херсонська область
                        </div>
                    </div>
                    <div class="partner-icon-text">
                        <div class="partner-icon-text-title">
                            ГО «Земля Таврії»
                        </div>
                        <ul class="partner-icon-text-ul">
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-location_dark_24x24.svg" alt="">
                                <div class="txt">
                                    Херсон, вул. В. Гошкевича, 45
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-avatar_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>Директор</strong> - Синюк Олена
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-phone_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>Тел.:</strong> 0675531322
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-email_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>E-mail:</strong> <a href="mailto:elena@ndovira.com"
                                            target="_blank">elena@ndovira.com</a>
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-web_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>Веб-сайт:</strong> <a href="https://hgozt.org"
                                            target="_blank">https://hgozt.org</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="partner-icon-text">
                        <div class="partner-icon-text-title">
                            ГО «ВУ Рада Жінок-Фермерів України»
                        </div>
                        <ul class="partner-icon-text-ul">
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-avatar_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>Голова Херсонського осередку</strong> - Віра Машинська
                                </div>
                            </li>
                            <li class="partner-icon-text-li">
                                <img class="ico" src="/images/smat/ico-phone_dark_24x24.svg" alt="">
                                <div class="txt">
                                    <strong>Моб. тел.</strong> 380953171910
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>