<div class="section">
    <div class="program-support-promo">
        <div class="program-support-promo__inner">
            <div class="program-support-promo__info-column">
                <div class="program-support-promo__info-column-inner">
                    <div class="program-support-promo__title">Програми підтримки агросектору</div>
                    <div class="program-support-promo__quote">
                        Бюджетні програми з підтримки аграрної галузі розробляються державою саме для того щоб допомогти аграріям. Закликаю брати участь в усіх програмах, які діють. І пам’ятайте, «хто не стукає у двері, тому не відкриють!»
                    </div>
                    <div class="program-support-promo__bottom">
                        <a class="btn-h50-green" href="#">
                            <span>Детальніше</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="program-support-promo__pic-column">
                <figure class="program-support-promo__figure">
                    <img class="program-support-promo__image"
                         src="/images/smat/img-bee_course_fb2.jpg" alt=""
                         loading="lazy"
                    >
                </figure>
            </div>
        </div>
    </div>
</div>
