<div class="section">
    <h2 class="h2">Cертифікація</h2>

    <div class="sertification-pics">
        <div class="sertification-pics__items-wrap">
            <div class="sertification-pics__item">
                <img src="/images/smat/sertificat-01.jpg" alt="">
            </div>
            <div class="sertification-pics__item">
                <img src="/images/smat/sertificat-02.jpg" alt="">
            </div>
        </div>
    </div>


</div>