<div class="section">
    <h2 class="h2">Відео-записи конференцій по бджільництву</h2>

    <div class="js-glide glide video" data-max-items-per-slide="5">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                <li class="glide__slide">
                    <div class="item">
                        <div class="item-image">
                            <a href="#"><img src="/images/smat/img-youtube-001.jpg" alt=""></a>
                        </div>
                        <div class="item-title">
                            Медова фабрика
                        </div>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="item">
                        <div class="item-image">
                            <a href="#"><img src="/images/smat/img-youtube-001.jpg" alt=""></a>
                        </div>
                        <div class="item-title">
                            Правильний мед
                        </div>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="item">
                        <div class="item-image">
                            <a href="#"><img src="/images/smat/img-youtube-001.jpg" alt=""></a>
                        </div>
                        <div class="item-title">
                            Херсонські бджолярі
                        </div>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="item">
                        <div class="item-image">
                            <a href="#"><img src="/images/smat/img-video-001.jpg" alt=""></a>
                        </div>
                        <div class="item-title">
                            Тетяна Шило, с. Давидівка
                        </div>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="item">
                        <div class="item-image">
                            <a href="#"><img src="/images/smat/img-video-002.jpg" alt=""></a>
                        </div>
                        <div class="item-title">
                            Наталя та Сергій Стародубець, м. Берислав
                        </div>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="item">
                        <div class="item-image">
                            <a href="#"><img src="/images/smat/img-video-003.jpg" alt=""></a>
                        </div>
                        <div class="item-title">
                            Євген Попцов, смт. Овідіополь
                        </div>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="item">
                        <div class="item-image">
                            <a href="#"><img src="/images/smat/img-youtube-001.jpg" alt=""></a>
                        </div>
                        <div class="item-title">
                            Медова фабрика
                        </div>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="item">
                        <div class="item-image">
                            <a href="#"><img src="/images/smat/img-youtube-001.jpg" alt=""></a>
                        </div>
                        <div class="item-title">
                            Правильний мед
                        </div>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="item">
                        <div class="item-image">
                            <a href="#"><img src="/images/smat/img-youtube-001.jpg" alt=""></a>
                        </div>
                        <div class="item-title">
                            Херсонські бджолярі
                        </div>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="item">
                        <div class="item-image">
                            <a href="#"><img src="/images/smat/img-video-001.jpg" alt=""></a>
                        </div>
                        <div class="item-title">
                            Тетяна Шило, с. Давидівка
                        </div>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="item">
                        <div class="item-image">
                            <a href="#"><img src="/images/smat/img-video-002.jpg" alt=""></a>
                        </div>
                        <div class="item-title">
                            Наталя та Сергій Стародубець, м. Берислав
                        </div>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="item">
                        <div class="item-image">
                            <a href="#"><img src="/images/smat/img-video-003.jpg" alt=""></a>
                        </div>
                        <div class="item-title">
                            Євген Попцов, смт. Овідіополь
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                <svg width="36" height="80" viewBox="0 0 36 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.0001 9.13334L9.85812 40L22.0001 70.8667" stroke="black" stroke-width="1.5"/>
                </svg>
            </button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                <svg width="36" height="80" viewBox="0 0 36 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.9999 9.13334L26.1419 40L13.9999 70.8667" stroke="black" stroke-width="1.5"/>
                </svg>
            </button>
        </div>

        <div class="glide__bullets" data-glide-el="controls[nav]">
            <button class="glide__bullet" data-glide-dir="=0"></button>
            <button class="glide__bullet" data-glide-dir="=1"></button>
            <button class="glide__bullet" data-glide-dir="=2"></button>
            <button class="glide__bullet" data-glide-dir="=3"></button>
            <button class="glide__bullet" data-glide-dir="=4"></button>
            <button class="glide__bullet" data-glide-dir="=5"></button>
            <button class="glide__bullet" data-glide-dir="=6"></button>
            <button class="glide__bullet" data-glide-dir="=7"></button>
            <button class="glide__bullet" data-glide-dir="=8"></button>
            <button class="glide__bullet" data-glide-dir="=9"></button>
            <button class="glide__bullet" data-glide-dir="=10"></button>
            <button class="glide__bullet" data-glide-dir="=11"></button>
            <button class="glide__bullet" data-glide-dir="=12"></button>
        </div>
    </div>

    <a href="javascript:void(0)" style="margin-top: 40px;"
            class="square-button wide green-bg-button centeredBlock">Переглянути все</a>
</div>