<div id="tab_downloaded_files" class="personal-area-center__tab">

    <div class="personal-area-center__tab-downloaded-files">
        <h3 class="personal-area__h3">Завантажені файли</h3>

        <div class="personal-area__files-list">

            <a class="personal-area-file" href="#">
                <svg class="personal-area-file__ico">
                    <use xlink:href="/images/smat/ico-file-excel_24x24.svg#Layer_1"></use>
                </svg>
                <span class="personal-area-file__name">Мы вынуждены отталкиваться</span>
            </a>

            <a class="personal-area-file" href="#">
                <svg class="personal-area-file__ico">
                    <use xlink:href="/images/smat/ico-file-excel_24x24.svg#Layer_1"></use>
                </svg>
                <span class="personal-area-file__name">Также как социально-экономическое развитие</span>
            </a>

            <a class="personal-area-file" href="#">
                <svg class="personal-area-file__ico">
                    <use xlink:href="/images/smat/ico-file-powerpoint_24x24.svg#Layer_1"></use>
                </svg>
                <span class="personal-area-file__name">С учётом сложившейся</span>
            </a>

            <a class="personal-area-file" href="#">
                <svg class="personal-area-file__ico">
                    <use xlink:href="/images/smat/ico-file-word_24x24.svg#Layer_1"></use>
                </svg>
                <span class="personal-area-file__name">Мы вынуждены отталкиваться от того, что современная методология</span>
            </a>

            <a class="personal-area-file" href="#">
                <svg class="personal-area-file__ico">
                    <use xlink:href="/images/smat/ico-file-pdf_24x24.svg#Layer_1"></use>
                </svg>
                <span class="personal-area-file__name">Также как развитие предполагает независимые</span>
            </a>

        </div>

    </div>

</div>