<div id="tab_change_password" class="personal-area-center__tab">

    <div class="personal-area-center__tab-change-password">
        <h3 class="personal-area__h3">Зміна пароля</h3>
        <div class="personal-area__fields-group">

            <!-- чтобы подсветить ошибку, нужно к любому диву с классом field добавить еще дополнительно класс error -->
            <div class="field field-input-text">
                <label>Старий пароль</label>
                <div class="input-text-wrap">
                    <input type="password" name="old-password" data-name="old-password" placeholder="****************">
                    <svg class="ico-eye"
                            onclick="this.previousElementSibling.setAttribute('type', this.previousElementSibling.getAttribute('type')=='password' ? 'text' : 'password')">
                        <use xlink:href="/images/smat/ico_eye_off_on_24x24.svg#Layer_1"></use>
                    </svg>
                </div>
                <div class="error">Текст ошибки текст ошибки</div>
            </div>

            <div class="field field-input-text">
                <label>Новий пароль</label>
                <div class="input-text-wrap">
                    <input type="password" name="new-password" data-name="new-password" placeholder="****************">
                    <svg class="ico-eye"
                            onclick="this.previousElementSibling.setAttribute('type', this.previousElementSibling.getAttribute('type')=='password' ? 'text' : 'password')">
                        <use xlink:href="/images/smat/ico_eye_off_on_24x24.svg#Layer_1"></use>
                    </svg>
                </div>
                <div class="error">Текст ошибки текст ошибки</div>
            </div>

            <div class="field field-input-text">
                <label>Підтвердити новий пароль</label>
                <div class="input-text-wrap">
                    <input type="password" name="confirm-password" data-name="confirm-password"
                            placeholder="****************">
                    <svg class="ico-eye"
                            onclick="this.previousElementSibling.setAttribute('type', this.previousElementSibling.getAttribute('type')=='password' ? 'text' : 'password')">
                        <use xlink:href="/images/smat/ico_eye_off_on_24x24.svg#Layer_1"></use>
                    </svg>
                </div>
                <div class="error">Текст ошибки текст ошибки</div>
            </div>

            <div class="field field-checkbox">
                <div class="checkbox-wrap">
                    <label>
                        <input type="checkbox" name="remember" data-name="remember">
                        <span>Запам'ятати мене</span>
                    </label>
                </div>
            </div>

            <div class="field field-buttons">
                <div class="buttons-list">
                    <a class="btn-h50-green-line" href="#">
                        <span>Відміна</span>
                    </a>
                    <button class="btn-h50-green">
                        <span>Змінити пароль</span>
                    </button>
                </div>
                <div class="lost-password">
                    <a class="link-underline" href="#">Забули свій пароль?</a>
                </div>
            </div>

        </div>
    </div>

</div>