<div class="personal-area__inner">

    <div class="personal-area-sidebar">
        <div class="personal-area-sidebar__content">
            <div class="personal-area-sidebar__tabs-navigation">
                <a class="btn-sidebar-tail-right js-btn-sidebar active" href="#tab_viewed_webinars">
                    <svg class="ico">
                        <use xlink:href="/images/smat/ico-webcam2_24x24.svg#Layer_1"></use>
                    </svg>
                    <span>Переглянуті вебінари</span>
                </a>
                <a class="btn-sidebar-tail-right js-btn-sidebar" href="#tab_viewed_courses">
                    <svg class="ico">
                        <use xlink:href="/images/smat/ico-course2_24x24.svg#Layer_1"></use>
                    </svg>
                    <span>Переглянуті курси</span>
                </a>
                <a class="btn-sidebar-tail-right js-btn-sidebar" href="#tab_downloaded_files">
                    <svg class="ico">
                        <use xlink:href="/images/smat/ico-download_24x24.svg#Layer_1"></use>
                    </svg>
                    <span>Завантажені файли</span>
                </a>
            </div>
        </div>
    </div>

    <div class="personal-area-center">
        <div class="personal-area-center__tabs-wrapper js-tabs-wrapper">
            {% include 'smat/blocks/tab-personal-area-knowledge__tab-viewed-webinars.html.twig' %}
            {% include 'smat/blocks/tab-personal-area-knowledge__tab-viewed-courses.html.twig' %}
            {% include 'smat/blocks/tab-personal-area-knowledge__tab-downloaded-files.html.twig' %}
        </div>
    </div>
</div>