<div id="tab_viewed_courses" class="personal-area-center__tab">
    <div class="personal-area-center__tab-viewed-courses">
        <h3 class="personal-area__h3">Переглянуті курси</h3>

        <div class="item">
            <div class="item-container">

                <div class="item">
                    <div class="item-image">
                        <div class="item-badge course">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#course"></use>
                            </svg>
                            <span>Курс</span>
                        </div>
                        <img src="/images/smat/img-course-01.jpg" alt="">
                    </div>
                    <div class="item-title">
                        Курс для бджолярів
                    </div>
                    <div class="item-partner">
                        <span>Партнер:</span>
                        <a href="javascript:void(0)">UHBDP</a>
                    </div>
                    <div class="item-text">
                        Разнообразный и богатый опыт говорит нам, что синте
                    </div>
                    <div class="icon-text">
                        <div>
                            <img src="/images/stars.svg">
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-lesson_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>8 уроків</span>
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-consultation_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>Індивідуальні консультації</span>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="square-button">Детальніше</a>
                </div>

                <div class="item">
                    <div class="item-image">
                        <div class="item-badge course">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#course"></use>
                            </svg>
                            <span>Курс</span>
                        </div>
                        <img src="/images/smat/img-course-02.jpg" alt="">
                    </div>
                    <div class="item-title">
                        Как уже неоднократно упомянуто, ключевые особенности
                    </div>
                    <div class="item-partner">
                        <span>Партнер:</span>
                        <a href="javascript:void(0)">UHBDP</a>
                    </div>
                    <div class="item-text">
                        В своём стремлении улучшить пользовательский опыт мы упускаем, что многие известные личности заблокированы в
                    </div>
                    <div class="icon-text">
                        <div>
                            <img src="/images/stars.svg">
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-lesson_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>8 уроків</span>
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-consultation_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>Індивідуальні консультації</span>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="square-button">Детальніше</a>
                </div>

                <div class="item">
                    <div class="item-image">
                        <div class="item-badge course">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#course"></use>
                            </svg>
                            <span>Курс</span>
                        </div>
                        <img src="/images/smat/img-course-01.jpg" alt="">
                    </div>
                    <div class="item-title">
                        Курс для бджолярів
                    </div>
                    <div class="item-partner">
                        <span>Партнер:</span>
                        <a href="javascript:void(0)">UHBDP</a>
                    </div>
                    <div class="item-text">
                        Разнообразный и богатый опыт говорит нам, что синте
                    </div>
                    <div class="icon-text">
                        <div>
                            <img src="/images/stars.svg">
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-lesson_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>8 уроків</span>
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-consultation_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>Індивідуальні консультації</span>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="square-button">Детальніше</a>
                </div>

                <div class="item">
                    <div class="item-image">
                        <div class="item-badge course">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#course"></use>
                            </svg>
                            <span>Курс</span>
                        </div>
                        <img src="/images/smat/img-course-02.jpg" alt="">
                    </div>
                    <div class="item-title">
                        Как уже неоднократно упомянуто, ключевые особенности
                    </div>
                    <div class="item-partner">
                        <span>Партнер:</span>
                        <a href="javascript:void(0)">UHBDP</a>
                    </div>
                    <div class="item-text">
                        В своём стремлении улучшить пользовательский опыт мы упускаем, что многие известные личности заблокированы в
                    </div>
                    <div class="icon-text">
                        <div>
                            <img src="/images/stars.svg">
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-lesson_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>8 уроків</span>
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-consultation_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>Індивідуальні консультації</span>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="square-button">Детальніше</a>
                </div>

                <div class="item">
                    <div class="item-image">
                        <div class="item-badge course">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#course"></use>
                            </svg>
                            <span>Курс</span>
                        </div>
                        <img src="/images/smat/img-course-01.jpg" alt="">
                    </div>
                    <div class="item-title">
                        Курс для бджолярів
                    </div>
                    <div class="item-partner">
                        <span>Партнер:</span>
                        <a href="javascript:void(0)">UHBDP</a>
                    </div>
                    <div class="item-text">
                        Разнообразный и богатый опыт говорит нам, что синте
                    </div>
                    <div class="icon-text">
                        <div>
                            <img src="/images/stars.svg">
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-lesson_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>8 уроків</span>
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-consultation_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>Індивідуальні консультації</span>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="square-button">Детальніше</a>
                </div>

                <div class="item">
                    <div class="item-image">
                        <div class="item-badge course">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#course"></use>
                            </svg>
                            <span>Курс</span>
                        </div>
                        <img src="/images/smat/img-course-02.jpg" alt="">
                    </div>
                    <div class="item-title">
                        Как уже неоднократно упомянуто, ключевые особенности
                    </div>
                    <div class="item-partner">
                        <span>Партнер:</span>
                        <a href="javascript:void(0)">UHBDP</a>
                    </div>
                    <div class="item-text">
                        В своём стремлении улучшить пользовательский опыт мы упускаем, что многие известные личности заблокированы в
                    </div>
                    <div class="icon-text">
                        <div>
                            <img src="/images/stars.svg">
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-lesson_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>8 уроків</span>
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-consultation_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>Індивідуальні консультації</span>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="square-button">Детальніше</a>
                </div>

                <div class="item">
                    <div class="item-image">
                        <div class="item-badge course">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#course"></use>
                            </svg>
                            <span>Курс</span>
                        </div>
                        <img src="/images/smat/img-course-01.jpg" alt="">
                    </div>
                    <div class="item-title">
                        Курс для бджолярів
                    </div>
                    <div class="item-partner">
                        <span>Партнер:</span>
                        <a href="javascript:void(0)">UHBDP</a>
                    </div>
                    <div class="item-text">
                        Разнообразный и богатый опыт говорит нам, что синте
                    </div>
                    <div class="icon-text">
                        <div>
                            <img src="/images/stars.svg">
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-lesson_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>8 уроків</span>
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-consultation_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>Індивідуальні консультації</span>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="square-button">Детальніше</a>
                </div>

                <div class="item">
                    <div class="item-image">
                        <div class="item-badge course">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#course"></use>
                            </svg>
                            <span>Курс</span>
                        </div>
                        <img src="/images/smat/img-course-02.jpg" alt="">
                    </div>
                    <div class="item-title">
                        Как уже неоднократно упомянуто, ключевые особенности
                    </div>
                    <div class="item-partner">
                        <span>Партнер:</span>
                        <a href="javascript:void(0)">UHBDP</a>
                    </div>
                    <div class="item-text">
                        В своём стремлении улучшить пользовательский опыт мы упускаем, что многие известные личности заблокированы в
                    </div>
                    <div class="icon-text">
                        <div>
                            <img src="/images/stars.svg">
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-lesson_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>8 уроків</span>
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-consultation_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>Індивідуальні консультації</span>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="square-button">Детальніше</a>
                </div>

                <div class="item">
                    <div class="item-image">
                        <div class="item-badge course">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#course"></use>
                            </svg>
                            <span>Курс</span>
                        </div>
                        <img src="/images/smat/img-course-01.jpg" alt="">
                    </div>
                    <div class="item-title">
                        Курс для бджолярів
                    </div>
                    <div class="item-partner">
                        <span>Партнер:</span>
                        <a href="javascript:void(0)">UHBDP</a>
                    </div>
                    <div class="item-text">
                        Разнообразный и богатый опыт говорит нам, что синте
                    </div>
                    <div class="icon-text">
                        <div>
                            <img src="/images/stars.svg">
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-lesson_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>8 уроків</span>
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-consultation_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>Індивідуальні консультації</span>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="square-button">Детальніше</a>
                </div>

                <div class="item">
                    <div class="item-image">
                        <div class="item-badge course">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#course"></use>
                            </svg>
                            <span>Курс</span>
                        </div>
                        <img src="/images/smat/img-course-02.jpg" alt="">
                    </div>
                    <div class="item-title">
                        Как уже неоднократно упомянуто, ключевые особенности
                    </div>
                    <div class="item-partner">
                        <span>Партнер:</span>
                        <a href="javascript:void(0)">UHBDP</a>
                    </div>
                    <div class="item-text">
                        В своём стремлении улучшить пользовательский опыт мы упускаем, что многие известные личности заблокированы в
                    </div>
                    <div class="icon-text">
                        <div>
                            <img src="/images/stars.svg">
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-lesson_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>8 уроків</span>
                        </div>
                        <div>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="/images/smat/ico-consultation_grey_16x16.svg#Layer_1"></use>
                            </svg>
                            <span>Індивідуальні консультації</span>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="square-button">Детальніше</a>
                </div>

            </div>

            {% include 'blocks/pagination-block.html.twig' %}
        </div>

    </div>
</div>